<div class="active tab-pane">
    <div class="panel-body row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="bio">Bio</label>
                <textarea class="form-control" id="bio" placeholder="Bio" name="bio" rows="5" ng-model="vm.driver.bio"></textarea>
            </div>
            <div class="form-group">
                <label for="sponsorshipPitch">Sponsorship Pitch</label>
                <textarea class="form-control" id="sponsorshipPitch" name="sponsorshipPitch" placeholder="Sponsorship Pitch" rows="5" ng-model="vm.driver.sponsorshipPitch"></textarea>
            </div>
            <div class="form-group">
                <label for="experience">Experience</label>
                <textarea class="form-control" id="experience" name="experience" placeholder="Experience" rows="5" ng-model="vm.driver.experience"></textarea>
            </div>
        </div>
    </div>
</div>
