<div class="active tab-pane">
    <div class="panel-body row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="Enter City" ng-model="vm.driver.city">
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" name="state" placeholder="State" ng-model="vm.driver.state">
            </div>
            <div class="form-group">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" name="zip" placeholder="Zip" ng-model="vm.driver.zip">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea class="form-control" id="address" name="address" placeholder="Enter Address" ng-model="vm.driver.address"></textarea>
            </div>
        </div>
    </div>
</div>
