<div class="active tab-pane">
    <div class="panel-body row">
        <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error': vm.formDriver.firstName.$invalid}">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" ng-model="vm.driver.firstName" required>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.formDriver.lastName.$invalid}">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name" ng-model="vm.driver.lastName" required>
            </div>
            <div class="form-group">
                <label for="nickName">Nick Name</label>
                <input type="text" class="form-control" id="nickName" name="nickName" placeholder="Enter Nick Name" ng-model="vm.driver.nickName">
            </div>
            <div class="form-group" ng-class="{'has-error': vm.formDriver.email.$invalid}">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" ng-model="vm.driver.email" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="birth">Birth</label>
                <input type="text" uib-datepicker-popup=""
                       name="birthdate"
                       ng-model="vm.driver.birthdate"
                       is-open="datepickerBirthShow"
                       class="form-control"
                       ng-click="datepickerBirthShow = !datepickerBirthShow"
                       popup-placement="top"
                       id="birth"
                       placeholder="Birth">
            </div>
            <div class="form-group">
                <label for="homeTown">Home Town</label>
                <input type="text" class="form-control" name="homeTown" id="homeTown" placeholder="Home Town" ng-model="vm.driver.homeTown">
            </div>
            <div class="form-group">
                <label for="residence">Residence</label>
                <input type="text" class="form-control" name="residence" id="residence" placeholder="Residence" ng-model="vm.driver.residence">
            </div>
            <div class="form-group">
                <label for="homeTrack">Home Track</label>
                <input type="text" class="form-control" name="homeTrack" id="homeTrack" placeholder="Home Track" ng-model="vm.driver.homeTrack">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group" ng-class="{'has-error': vm.generalForm.password.$invalid}">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="vm.driver.password" required>
            </div>
        </div>
    </div>
</div>
