<div class="active tab-pane">
    <div class="panel-body row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="website">Website</label>
                <input type="text" class="form-control" id="website" name="website" placeholder="Website" ng-model="vm.driver.websiteUrl">
            </div>
            <div class="form-group">
                <label for="facebookUrl">Facebook</label>
                <input type="text" class="form-control" id="facebookUrl" name="facebookUrl" placeholder="Facebook" ng-model="vm.driver.facebookUrl">
            </div>
            <div class="form-group">
                <label for="twitterUrl">Twitter</label>
                <input type="text" class="form-control" id="twitterUrl" name="twitterUrl" placeholder="Twitter" ng-model="vm.driver.twitterUrl">
            </div>
            <div class="form-group">
                <label for="instagramUrl">Instagram</label>
                <input type="text" class="form-control" id="instagramUrl" name="instagramUrl" placeholder="Instagram" ng-model="vm.driver.instagramUrl">
            </div>
        </div>
    </div>
</div>
