<h1>Sponsorships <span class="text-gray">{{vm.totalRecords}}</span></h1>
<!-- Main content -->
<section class="content">

    <!-- Main row -->
    <div class="row" ng-init="vm.getCompanies()">
        <!-- Left col -->
        <section class="col-lg-12"
                 flow-init="vm.flowConfig"
                 flow-file-success="vm.uploadCompleted($message)"
                 flow-error="vm.uploadError($message)"
                 flow-name="vm.flow">

            <div class="box box-primary"> 
                
                
                <div class="box-body table-responsive" ng-show="vm.totalRecords">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <!-- <th ng-repeat="column in vm.columns track by $index">{{column}}</th> -->

                                <th>Name</th>
                                <th>Number Available</th>
                                <th>Price</th>
                                <th>Sponsorship</th>
                                <th>Powered by</th>
                                <!-- <th>Created On</th> -->
                            </tr>

                        </thead>
                        <tbody>
                        <tr ng-repeat="sponsor in vm.sponsors track by $index" ng-init="rowIndex = $index">

                        	<td>{{sponsor.sponsorName}}</td>
                            <td>{{sponsor.sponsorNumber}}</td>
                        	<td>{{sponsor.sponsorAmmount | currency:"$"}}</td>
                        	<td>{{sponsor.companyName}}</td>
                        	<td>{{sponsor.partnerCompanyId[0]['COMPANY NAME']}}</td>
                        	<!-- <td>{{sponsor.createdOn}}</td> -->
                            
                        </tr>
                        </tbody>
                    </table>

                </div>
                
            </div>
            <div class="fav-pagination">
	         	<ul uib-pagination
	            total-items="vm.totalRecords"
	            ng-model="vm.params.page"
	            max-size="3"
	            class="pagination-sm"
	            ng-change="vm.getSponsors()"
	            rotate="true"
	            force-ellipses="true"
	            next-text=">>"
	            previous-text="<<"
	            ></ul>
      		</div>

        </section>
	</div>
    <!-- /.row (main row) -->
</section>