<header class="client-header">
    <div class="container-fluid">
        <div class="col-xs-5">
            <div class="header-logo">
                <a href="#"><img src="dist/images/logo.png" alt="logo"><span>TM</span></a>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="headerRight-section text-right">
                <div class="headerMenu">
                    <span class="gamburger"
                          on-outside-element-click="showMenu = false"
                          ng-click="showMenu = !showMenu"><img cr-granted="ROLE_DRIVER" src="dist/images/hamburger.png" alt="menu pic"></span>

                    <span cr-granted="ROLE_GUEST"><a ui-sref="main.auth.signin" class="loginLink">login</a></span>
                    <span cr-granted="ROLE_DRIVER"><a ui-sref="main.auth.signup" class="loginLink">logout</a></span>

                    <div class="dropdownMenu"
                         ng-show="showMenu">
                        <ul>
                            <li><a ui-sref="main.search">home</a></li>
                            <li><a ui-sref="main.favorites">favorites</a></li>
                            <li><a ui-sref="main.search">find sponsors</a></li>
                            <li><a ui-sref="main.mailbox">my emails</a></li>
                            <li><a ui-sref="main.driver.account">driver profile</a></li>
                            <li><a ui-sref="main.partners">partners</a></li>
                            <li><a ui-sref="main.sponsorships">sponsorships</a></li>
                            <li><a ui-sref="main.settings">billing settings</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div cr-granted="ROLE_GUEST">
                    <a ui-sref="main.auth.forgotPassword" class="forgot">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="content-client" ui-view></div>

<footer>
    <p>© 2017 RaceAgent <sup>Tm</sup><span>|</span>Site BY SPARK</p>
</footer>
