<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <br>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Client <i class="fa fa-sitemap"></i></div>
                </div>
                <div class="panel-body">
                    <div class="btn-group-vertical sitemap">
                        <a class="btn btn-default" ui-sref="main.favorites">Favorites</a>
                        <a class="btn btn-default" ui-sref="main.loading">Loading</a>
                        <a class="btn btn-default" ui-sref="main.driver.profile">Profile</a>
                        <a class="btn btn-default" ui-sref="main.search">Search</a>
                        <a class="btn btn-default" ui-sref="main.companies">Companies</a>
                        <a class="btn btn-default" ui-sref="main.settings">Settings</a>
                        <a class="btn btn-default" ui-sref="main.membership">Membership</a>
                        <a class="btn btn-default" ui-sref="main.auth.signup">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <br>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Admin <i class="fa fa-sitemap"></i></div>
                </div>
                <div class="panel-body">
                    <div class="btn-group-vertical sitemap">
                        <a class="btn btn-default" ui-sref="admin.drivers">Drivers</a>
                        <a class="btn btn-default" ui-sref="admin.login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>