<section class="content-header">
    <h1>
        Mailbox
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Mailbox</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3">
            <a ui-sref="admin.mailbox.compose" class="btn btn-primary btn-block margin-bottom">Compose</a>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Folders</h3>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li class=""
                            ng-class="{'active': vm.tab === 'all'}"
                            ng-click="vm.getAllMessages()"><a href=""><i class="fa fa-inbox"></i> All Messages
                            <span class="label label-success pull-right">{{vm.counts.all}}</span></a></li>
                        <li class=""
                            ng-class="{'active': vm.tab === 'inbox'}"
                            ng-click="vm.getMessages('inbox')"><a href=""><i class="fa fa-inbox"></i> Admin Inbox
                            <span class="label label-primary pull-right">{{vm.counts.inbox}}</span></a></li>
                        <li ng-class="{'active': vm.tab === 'sentbox'}"
                            ng-click="vm.getMessages('sentbox')"><a href=""><i class="fa fa-envelope-o"></i> Admin Sent
                            <span class="label label-warning pull-right">{{vm.counts.sentbox}}</span></a></li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>

            <div class="box box-solid" ng-show="$state.is('admin.mailbox.compose')">
                <div class="box-header with-border">
                    <h3 class="box-title">Drivers</h3>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li class=""><a href=""></a></li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="box box-primary" ng-if="!vm.message">
                <div class="box-header with-border">
                    <h3 class="box-title">Inbox</h3>

                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" placeholder="Search Mail">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <tbody>
                            <tr ng-repeat="message in vm.messages" ng-if="vm.messages.length">
                                <td class="mailbox-name" ng-click="vm.openMessage($index)"><a href="">{{message.subject}}</a></td>
                                <td class="mailbox-subject">{{(message.messageContents | limitTo: 45) + '...'}}
                                </td>
                                <td class="mailbox-attachment">
                                    <i class="fa fa-paperclip" ng-show="message.profileAttached"></i>
                                </td>
                                <td class="mailbox-date">{{message.sentOn | date : 'dd MMM yyyy H:m'}}</td>
                            </tr>
                            <tr ng-if="!vm.messages.length">
                                <td colspan="3">You don't have {{vm.tab}} message</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
            </div>

            <div class="box box-primary" ng-if="vm.message">
                <div class="box-header with-border">
                    <h3 class="box-title">Read Mail</h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-read-info">
                        <h3>{{vm.message.subject}}</h3>
                        <h5>From: me
                            <span class="mailbox-read-time pull-right">{{vm.message.sentOn | date : 'dd MMM yyyy H:m'}}</span></h5>
                    </div>
                    <!-- /.mailbox-controls -->
                    <div class="mailbox-read-message">
                        {{vm.message.messageContents}}
                    </div>
                    <!-- /.mailbox-read-message -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<br>