<section class="content-header">
    <h1>
        Mailbox
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="admin.mailbox">Mailbox</a></li>
        <li class="active">Compose</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3">
            <a ui-sref="admin.mailbox" class="btn btn-primary btn-block margin-bottom">Back to Inbox</a>

            <div class="box box-solid" ng-init="vm.getDrivers()">
                <div class="box-header with-border">
                    <input type="text" class="form-control"
                           ng-model="vm.filter"
                           placeholder="Search">
                </div>
                <div class="box-body no-padding scrollbar-dynamic">
                    <ul class="nav nav-pills nav-stacked ">
                        <li ng-repeat="driver in vm.drivers | filter : vm.filter">
                            <a href=""
                               class="text-sm"
                               data-checklist-model="vm.driversForSend"
                               data-checklist-value="driver" uib-btn-checkbox>
                                <img ng-if="driver.profilePic"
                                     class="img-circle pull-left"
                                     ng-src="uploads/{{driver.profilePic}}" width="35">
                                <i ng-if="!driver.profilePic"
                                     class="fa fa-user fa-2x pull-left text-gray"></i>

                                <span class="pull-right" ng-show="checked"><i class="fa fa-check text-primary"></i></span>
                                <span class="users-list-name" style="margin: 10px;margin-left: 40px;">
                                    {{driver.firstName}} {{driver.lastName}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Compose New Message</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <span class="">To: </span>
                        <div class="badge bg-green"
                             style="margin-right: 5px"
                             ng-repeat="driver in vm.driversForSend">
                            {{driver.email}} <i class="fa fa-close" ng-click="vm.driversForSend.splice($index, 1);"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Subject:" ng-model="vm.message.subject">
                    </div>
                    <div class="form-group" text-angular="" ng-model="vm.message.messageContents">
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary"
                                ng-disabled="!vm.driversForSend.length || !vm.message.subject || !vm.message.messageContents"
                                ng-class="{'disabled': (!vm.driversForSend.length || !vm.message.subject || !vm.message.messageContents)}"
                                ng-click="vm.send()"><i class="fa fa-envelope-o"></i> Send</button>
                    </div>
                    <a type="reset" ui-sref="admin.mailbox.inbox" class="btn btn-default"><i class="fa fa-times"></i> Discard</a>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<br>
