.primary-btn {
    color: #fff;
    text-transform: uppercase;
    outline: 0;
    background-color: #74b7d1;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 10px 20px;
    border: 0;
    box-shadow: -2px 2px 10px #bbbaba;
    font-weight: bold;
}

.primary-btn:active {
    box-shadow: 0 0 10px #bbbaba;
}

.orange-btn {
    background: #df9166;
}