.chosen-choices {
    border-radius: 0 !important;
    box-shadow: none !important;
    border-color: #d2d6de !important;
    display: block !important;
    width: 100% !important;
    height: 34px !important;
    padding: 2px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    background-color: #fff !important;
    background-image: none !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.chosen-container-active .chosen-choices {
    border-color: #3c8dbc !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
    background-image: none;
    font-size: 12px;
}

.chosen-container .chosen-results li.highlighted {
    background-image: none;
    background-color: #3c8dbc !important;
}