.profForm-field .uib-daypicker td > button {
    height: 32px;
    width: 32px;
    font-size: 13px;
}

button.btn.btn-sm.btn-info.uib-datepicker-current,
button.btn.btn-sm.btn-danger.uib-clear,
button.btn.btn-sm.btn-success.pull-right.uib-close {
    font-size: 1em;
    width: auto;
    border-radius: 0px;
}

button.btn.btn-default.btn-sm.pull-left.uib-left, button.btn.btn-default.btn-sm.pull-right.uib-right {
    padding: 2px;
}

.uib-daypicker .uib-title {
    padding: 2px;
    border-radius: 10px;
}

.uib-datepicker-popup:focus {
    outline: none;
}