.favorites-sect {
    background-color: #e6eff1;
}
.favorites-sect select {
    background: #fff;
}
.favCenter-section h1 {
    font-family: 'DIN Pro Medium';
    color: #707070;
    text-transform: uppercase;
    margin: 0;
    font-size: 44px;
    margin-bottom: 20px;
}
.favCenter-section {
    padding: 70px 40px 40px 40px;
    background-color: #fff;
}
.favLeft-section h2 {
    color: #acacac;
    text-transform: uppercase;
    font-family: 'DIN Pro Medium';
    margin: 0;
    font-size: 34px;
    margin-bottom: 10px;
}
.favLeft-section {
    width: 80%;
    margin: 0 auto;
    padding-top: 150px;
}
.favField label {
    font-family: 'DIN Pro Light Italic';
    color: #acacac;
    font-weight: 400;
    font-size: 20px;
    display: block;
}
.favField input, .favField select {
    border: 1px solid #cbd9e0;
    width: 100%;
    outline: 0;
    height: 40px;
    padding: 5px 10px;
    font-size: 18px;
    margin-bottom: 5px;
}
.top20 {
    margin-top: 20px;
}
.favLeft-section input[type="submit"] {
    background-color: #eb8956;
    width: 270px;
    font-family: 'DIN Pro Medium';
    color: #fff;
    font-size: 24px;
    height: 50px;
    box-shadow: -2px 2px 10px #ababab;
    border: none;
    text-transform: uppercase;
    outline: none;
    margin-top: 20px;
}
.favLeft-section input[type="submit"]:active {
    box-shadow: 0 0 10px #ababab;
}
.leftComp-name .title {
    color: #acacac;
    text-transform: uppercase;
    font-family: 'DIN Pro Medium';
    font-size: 30px;
}
.comName-block {
    width: 100%;
    height: auto;
    background-size: 100% 100%;
    padding: 30px 30px 30px 50px;
    border-left: 20px solid #df9166;
    box-shadow: -3px 2px 13px #d6d6d6;
    padding: 30px 30px 30px 50px;
    position: relative;
    margin-bottom: 40px;
}
.leftComp-name .descr {
    color: #acacac;
    font-family: 'DIN Pro Light Italic';
    font-size: 24px;
}
.rightComp-name img {
    width: 100%;
}
.rightComp-name a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    background-color: #74b7d1;
    text-align: center;
    margin-top: 10px;
    font-family: 'DIN Pro Medium';
    font-size: 18px;
    padding: 2px;
    box-shadow: -2px 2px 10px #bbbaba;
}
.rightComp-name a:active {
    box-shadow: 0 0 10px #bbbaba;
}
.comName-block .like {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #74b7d1;
    text-align: center;
    padding: 6px 0;
    position: absolute;
    bottom: 30px;
    right: 20px;
}
.comName-block .like:hover {
    box-shadow: 0px 0px 10px #74b7d1;
}
.comName-block .like .fa {
    font-size: 24px;
    color: #dc1b68;
}
.fav-pagination .pagTitle {
    font-family: 'DIN Pro Medium';
    color: #707070;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}
.fav-pagination ul {
    display: block;
}
.fav-pagination ul li {
    display: inline-block;
    border: none;
}
.fav-pagination ul li a{
    border: none;
}
.fav-pagination ul li a, .fav-pagination ul li span {
    font-family: 'DIN Pro Medium';
    font-size: 50px;
    color: #707070;
    padding: 0 5px;
}
.fav-pagination ul li.active a {
    color: #eb8956;
    background: transparent;
}
.fav-pagination ul li.active a:hover {
    color: #eb8956;
    background: transparent;
}
.fav-pagination ul li a {
    background: transparent;
}

.fav-pagination ul>li>a:focus,
.fav-pagination ul>li>a:hover,
.fav-pagination ul>li>span:focus,
.fav-pagination ul>li>span:hover {
    z-index: 2;
    color: #444;
    background-color: transparent;
}
.fav-pagination ul {
    text-align: center;
}
.rec-block {
    margin-top: 200px;
    padding-right: 15px;
}
.rec-block a img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
.rightComp-name a.greyBtn {
    background-color: #c1c2c2;
}



@media (min-width: 1820px) {
    .favField label {
            font-size: 22px!important;
    }
}
@media(max-width:1400px) {
    .favLeft-section h2 {
        font-size: 24px;
    }
    .favField input, .favField select {
        height: 32px;
        font-size: 14px;
    }
    .favField label {
        font-size: 18px;
    }
    .favLeft-section .sfField.check label {
        font-size: 17px;
    }
    .favLeft-section .sfField.check .checkBlock {
        margin-bottom: 3px;
    }
    .favLeft-section input[type=submit] {
        width: 100%;
        font-size: 18px;
        height: 40px;
        line-height: 40px;
    }
    .favCenter-section h1 {
        font-size: 36px;
    }
    .leftComp-name .title, .fav-pagination .pagTitle {
        font-size: 24px;
    }
    .leftComp-name .descr {
        font-size: 20px;
    }
    .fav-pagination ul li a, .fav-pagination ul li span {
        font-size: 40px;
    }
}
@media(max-width:1300px) {
    .favField.checkfav .row .col-sm-6 {
        width: 100%;
    }
}
@media(max-width:1199px) {
    .favLeft-section h2 {
        font-size: 20px;
    }
    .favCenter-section h1 {
        font-size: 30px;
    }
    .fav-pagination .pagTitle, .leftComp-name .title {
        font-size: 20px;
    }
    .comName-block {
        border-left: 10px solid #df9166;
    }
    .leftComp-name .descr {
        font-size: 16px;
    }
    .comName-block {
        padding: 20px;
    }
    .comName-block .like {
        padding: 3px 0;
        width: 30px;
        height: 30px;
    }
    .comName-block .like .fa {
        font-size: 18px;
    }
    .comName-block .like {
        bottom: 20px;
        right: 12px;
    }
    .rightComp-name a {
        font-size: 16px;
    }
    .favField label {
        font-size: 14px;
    }
}
@media(max-width:992px) {
    .favLeft-section input[type=submit] {
        font-size: 14px;
    }
}
@media(max-width:767px) {
    .favLeft-section {
        padding-top: 50px;
    }
    .favCenter-section {
        padding: 40px;
        margin-top: 50px;
    }
    .rightComp-name img, .rightComp-name a {
        width: 150px;
    }
    .comName-block {
        padding: 10px 20px 15px 20px;
    }
    .rec-block {
        display: none;
    }
}
@media(max-width:374px) {
    .favCenter-section {
        padding: 20px;
    }
}

#includeSponsorshipPitch {
    margin: 20px;
    margin-left: 0;
    font-size: 1.1em;
    cursor: pointer;
}

#includeSponsorshipPitch .fa.fa-square {
    color: #eee;
    font-size: 1.5em;
    vertical-align: bottom;
}

#includeSponsorshipPitch .fa.fa-check {
    position: absolute;
    left: 17px;
    font-size: 1.1em;
    margin-top: 4px;
    color: #74b7d1;
}

    