@font-face {
font-family: 'DIN Pro Black';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Black'), url('../fonts/DINPro-Black.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Condensed Regular';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Condensed Regular'), url('../fonts/DINPro-Cond.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Condensed Black';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Condensed Black'), url('../fonts/DINPro-CondBlack.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Condensed Light';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Condensed Light'), url('../fonts/DINPro-CondLight.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Condensed Medium';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Condensed Medium'), url('../fonts/DINPro-CondMedium.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Light';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Light'), url('../fonts/DINPro-Light.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Medium';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Medium'), url('../fonts/DINPro-Medium.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro';
font-style: normal;
font-weight: normal;
src: local('DIN Pro'), url('../fonts/DINPro.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Black Italic';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Black Italic'), url('../fonts/DINPro-BlackItalic.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Bold';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Bold'), url('../fonts/DINPro-Bold.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Bold Italic';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Bold Italic'), url('../fonts/DINPro-BoldItalic.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Condensed Black Italic';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Condensed Black Italic'), url('../fonts/DINPro-CondBlackIta.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Condensed Bold';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Condensed Bold'), url('../fonts/DINPro-CondBold.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Condensed Bold Italic';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Condensed Bold Italic'), url('../fonts/DINPro-CondBoldIta.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Condensed Italic'), url('../fonts/DINPro-CondIta.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Condensed Light Italic';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Condensed Light Italic'), url('../fonts/DINPro-CondLightIta.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Condensed Medium Italic';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Condensed Medium Italic'), url('../fonts/DINPro-CondMediIta.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Italic';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Italic'), url('../fonts/DINPro-Italic.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Light Italic';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Light Italic'), url('../fonts/DINPro-LightItalic.woff') format('woff');
}


@font-face {
font-family: 'DIN Pro Medium Italic';
font-style: normal;
font-weight: normal;
src: local('DIN Pro Medium Italic'), url('../fonts/DINPro-MediumItalic.woff') format('woff');
}


@font-face {
font-family: 'gotham-light';
font-style: normal;
font-weight: normal;
src:  url('../fonts/Gotham Light Regular.otf');
}



