footer {
    height: 100px;
    background-color: #464646;
    text-align: center;
    color: #fff;
    text-transform: uppercase;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 35px 0;
    font-size: 20px;
    font-weight: 100;
    font-family: 'gotham-light';
}
footer p span {
    display: inline-block;
    margin: 0 10px;
}
footer p sup {
    top: -.7em;
    font-size: 8px;
}