html {
    height: 100% !important;
    box-sizing: border-box;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.content-client {
    padding-bottom: 0 !important;
}

.scrollbar-dynamic {
    max-height: 400px;
    overflow: auto;
}

.ng-hide.show-hide {
    transition: .2s;
    opacity: 0;
}

.show-hide {
    opacity: 1;
}