.reading {
    background-repeat: no-repeat;
    height: calc(100vh - 200px);
    background-size: 100% auto;
    opacity: 0;
    transition: 1s;
}
.readtCenter h1 {
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: 'DIN Pro Medium';
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.readtCenter img {
    max-width: 150px;
    display: block;
    margin: 0 auto 20px;
}
.readtCenter h4 {
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: 'DIN Pro Medium';
    font-size: 24px;
    text-align: center;
}
.readtCenter {
    top: 50%;
    margin-top: -163px;
    position: absolute;
    width: 100%;
}
@media(max-width:992px) {
    .reading {
        background-size: 100% 100%;
    }
}
@media(max-width:800px) {
    .reading {
        background-size: auto 100%;
    }
}