.membTop {
    height: 450px;
    background-image: url(../images/shutterstock.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.membform-sect select {
    background: #fff;
}
.membTop h1 span {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-family: 'DIN Pro Medium';
    font-size: 70px;
}
.membTop h1 span:last-child {
    font-family: 'DIN Pro Bold';
}
.membTop h1 {
    width: 100%;
    margin: 0 auto;
    max-width: 750px;
    padding: 110px 0;
}
.membTop h1 span:nth-child(2) {
    text-align: center;
}
.membTop h1 span:nth-child(3) {
    text-align: center;
    padding-left: 80px;
}
.memb-content {
    padding: 50px 0;
    background-image: url(../images/membbg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 140%;
}
.memb-content h2 {
    text-transform: uppercase;
    color: #383838;
    font-family: 'DIN Pro Medium';
    font-size: 30px;
    margin-bottom: 30px;
}
.membsect {
    max-width: 1600px;
    margin: 0 auto;
}


.membRight, .membLeft {
    border: 1px solid #74b7d1;
    padding: 40px 20px;
}
.membRight {
    background-color: #dff5fd;
}
.membRight .title, .membLeft .title {
    color: #74b7d1;
    font-family: 'DIN Pro';
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 44px;;
}
.membList {
    margin-bottom: 20px;
}
.membList li {
    font-family: 'DIN Pro';
    color: #707070;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}
.membList li::before {
    content: "•";
    display: inline-block;
    color: #5f94a9;
    margin-right: 5px;
}
.membPrice {
    font-family: 'DIN Pro';
    color: #7ca7b8;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
}
.bottom40 {
    margin-bottom: 40px;
}
.membForm form .membform-sect {
    padding: 30px 50px;
    box-shadow: -2px 2px 10px #ababab;
    margin-bottom: 30px;
}
.membForm p.title {
    font-family: 'DIN Pro Medium';
    font-size: 30px;
    color: #acacac;
    text-transform: uppercase;
}
.helpSpan {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background-image: url(../images/help.png);
    background-size: 8px;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #6b93a7;
    margin-top: -5px;
    background-position: center center;
}
.datesel, select {
    color: #acacac;
    text-transform: uppercase;
    font-family: 'DIN Pro Light Italic';
}
.labinlblock, .profForm-field .labinlblock {
    display: inline-block;
}
.profForm-field input[type="checkbox"] {
    display: inline-block;
    width: 22px;
    height: 22px;
    outline: 0;
    margin: 0;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 5px;
}
.membForm form input[type="submit"] {
    border: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #74b7d1;
    outline: none;
    width: 100%;
    font-size: 30px;
    font-family: 'DIN Pro Medium';
    padding: 5px;
    box-shadow: -2px 2px 10px #ababab;
}
.membForm form input[type="submit"]:active {
    box-shadow: 0px 0px 10px #ababab;
}

.subscriptionBtn {
    text-align: center;
    margin-top: 10%;
}

.membLeft, .membForm form .membform-sect {
    background-color: #fff;
}
@media(max-width:1600px) {
    .membsect {
        max-width: 1600px;
    }
}
@media(max-width:1366px) {
    .membsect {
        max-width: 1200px;
    }
    .membLeft .title, .membRight .title {
        font-size: 30px;
    }
    .membList li {
        font-size: 16px;
    }
    .membPrice {
        font-size: 20px;
    }
    .membTop h1 span {
        font-size: 60px;
    }
    .membTop {
        height: 400px;
    }
    .membTop h1 {
        padding: 100px 0;
    }
}
@media(max-width:991px) {
    .membTop h1 {
        max-width: 500px;
    }
    .membTop {
        height: auto;
        background-size: cover;
        background-position: center center;
    }
    .membForm p.title {
        font-size: 24px;
    }
}
@media(max-width:800px) {
    .memb-content {
        background-size: 100%;
    }
}
@media(max-width:767px) {
    .membTop h1 {
        padding: 50px 0;
    }
    .memb-content h2 {
        font-size: 24px;
    }
    .membLeft {
        margin-bottom: 35px;
    }
}
@media(max-width:600px) {
    .membTop h1 span {
        font-size: 30px;
        text-align: center;
    }
}
@media(max-width:600px) {
.memb-content .membsect .col-xs-6{width:100%;}
}