a, a:hover, a:focus {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
}
.content-client {
    padding-bottom: 100px;
}
header.client-header {
    position: relative;
    height: 100px;
    box-shadow: 0px 0px 10px #b6b6b6;
    position: relative;
    z-index: 2;
}
header.client-header .header-logo a img {
    height: 80px;
    margin: 10px 0;
}
header.client-header .header-logo a span {
    color: #74b7d1;
    position: absolute;
    top: 64px;
    font-size: 8px;
}
header.client-header .header-logo a, header.client-header .header-logo a:hover, header.client-header .header-logo a:focus {
    text-decoration: none;
}
.headerMenu .gamburger {
    cursor: pointer;
}
.headerMenu .gamburger img {
    width: 40px;
    margin-right: 25px;
}
a.forgot {
    font-family: 'DIN Pro Light Italic';
    text-transform: uppercase;
    color: #404040;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
}
.headerMenu .loginLink {
    color: #fff;
    text-transform: uppercase;
    background-color: #74b7d1;
    border: 1px solid #8f9ba0;
    font-family: 'DIN Pro Medium';
    height: 36px;
    width: 120px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    font-size: 20px;
}
.headerRight-section {
    margin: 17px 0;
}
.dropdownMenu ul {
    text-align: center;
    background-color: #fff;
}
.dropdownMenu ul li a {
    text-transform: uppercase;
    color: #acacac;
    font-family: 'DIN Pro';
    padding: 10px;
    display: block;
    border-bottom: 1px solid #f3f2f2;
}
.dropdownMenu {
    display: inline-block;
    position: absolute;
    right: -15px;
    top: 100px;
    width: 100%;
    max-width: 235px;
    border: 1px solid #f3f2f2;
    z-index: 9;
}
.dropdownMenu ul li a:hover {
    color: #000;
}
