.ngdialog.ngdialog-default {
    padding-top: 75px;
}

.ngdialog.ngdialog-default .ngdialog-content {
    padding: 0;
    border-radius: 0;
    background: #fff;
    box-shadow: 0 0 20px rgba(51, 51, 51, 0.48);
}

.ngdialog.ngdialog-default .ngdialog-content .progress-pic-bar {
    width: 100% !important;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -30px;
}

.ngdialog.ngdialog-default .ngdialog-content .progress-pic-bar .progress {
    background-color: transparent;
}

.modal-primary {
    color: #fff;
}

.ngdialog-default .fa-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.ngdialog-default .form-control:focus {
    border-color: #74b7d1;
}

#message {
    resize: none;
}