


.partnerss{text-align: center;padding: 0 0 40px 0;}
.partnerss h1{ font-family: 'DIN Pro Bold';color: #707070;font-size: 44px;}
.partnerss .customcol{text-align: center;margin-top: 20px;border:1px solid #ccc;padding:10px;}

.partnerss .customcol img{width:100%;}
.partnerss .customcol .companyName{padding:20px 0;font-size: 20px;
color:#acacac;text-transform:uppercase;font-family:'DIN Pro Medium';
}
/*.leftComp-name .title{color:#acacac;text-transform:uppercase;font-family:'DIN Pro Medium';font-size:30px}*/





