.profBlue-block {
    height: 300px;
    background-image: url(../images/bluepic.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 80px;
}
.prformSect select {
    background: #fff;
}
.profBlue-block h1 {
    text-transform: uppercase;
    color: #fff;
    width: 590px;
    margin: 74px auto;
}
.profBlue-block h1 span {
    display: block;
    font-size: 70px;
}
.profBlue-block h1 span:first-child {
    font-family: 'DIN Pro Medium';

}
.profBlue-block h1 span:nth-child(2) {
    font-family: 'DIN Pro Bold';
    text-align: right;
}
.prupPic .picture {
    display: block;
    margin: 0 auto 30px;
    max-width: 300px;
    max-height: 300px;
    border: 10px solid #eb8956;
    border-radius: 50%;
    box-shadow: -2px 2px 10px #ababab;
    overflow: hidden;
}
.prupPic button {
    background-color: #eb8956;
    display: block;
    margin: 0 auto 30px;
    width: 270px;
    font-family: 'DIN Pro Medium';
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    height: 60px;
    line-height: 58px;
    box-shadow: -2px 2px 10px #ababab;
    border: none;
}
.prupPic button:active {
    box-shadow: 0px 0px 10px #ababab;
}
.prupPic .progress-bar {
    background: #659db4 !important;
}
.prupPic .progress-pic-bar {
    margin: 0 auto 30px;
    width: 270px !important;
}
.profile-content {
    max-width: 1660px;
    margin: 0 auto;
}
.prupField img {
    max-width: 100%;
}
.prupField input[type="text"] {
    outline: none;
    height: 44px;
    padding: 5px 10px;
    width: 100%;
    font-size: 28px;
    font-family: 'DIN Pro Light Italic';
    border: 1px solid #b1c6d0;
}
.prupField input::-webkit-input-placeholder {font-family: 'DIN Pro Light Italic';}
.prupField input::-moz-placeholder          {font-family: 'DIN Pro Light Italic';}/* Firefox 19+ */
.prupField input:-moz-placeholder           {font-family: 'DIN Pro Light Italic';}/* Firefox 18- */
.prupField input:-ms-input-placeholder      {font-family: 'DIN Pro Light Italic';}


.prup-fields .prupField {
    padding: 15px 0 15px 0;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: left center;
    min-height: 42px;
}
.prup-fields .prupField:first-child {
    background-image: url(../images/earth.png);
}
.prup-fields .prupField:nth-child(2) {
    background-image: url(../images/facebook.png);
}
.prup-fields .prupField:nth-child(3) {
    background-image: url(../images/twitter.png);
}
.prup-fields .prupField:nth-child(4) {
    background-image: url(../images/instagram.png);
}
.prup-fields .prupField:nth-child(5) {
    background-image: url(../images/url.png);
}
.prformSect h3 {
    font-family: 'DIN Pro Medium';
    color: #acacac;
    text-transform: uppercase;
    font-size: 30px;
}
.profForm-field label {
    font-family: 'DIN Pro Light Italic';
    color: #acacac;
    font-weight: normal;
    font-size: 20px;
    display: block;
}
.profForm-field input[type="text"], .profForm-field select {
    border: 1px solid #cbd9e0;
    width: 100%;
    outline: none;
    height: 40px;
    padding: 5px 10px;
    font-size: 18px;
    margin-bottom: 20px;
}
.prformSect {
    margin-left: 50px;
}
.profForm-field button {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
    background-color: #74b7d1;
    outline: none;
}
.profForm-field textarea {
    border: 1px solid #cbd9e0;
    width: 100%;
    outline: none;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    resize: none;
    height: 150px;
}
.profileSave {
    text-transform: uppercase;
    background-color: #74b7d1;
    color: #fff;
    border: none;
    font-family: 'DIN Pro Medium';
    outline: 0;
    font-size: 26px;
    box-shadow: -2px 2px 10px #ababab;
    margin-bottom: 100px;
    margin-right: 15px;

    width: 270px;
    text-align: center;
    font-size: 28px;
    height: 60px;
    line-height: 58px;
}
.profileSave:active {
    box-shadow: 0 0 10px #909090;
}


@media(min-width:1820px) {
    .profForm-field label, .sfField label, #signUp .formField label {
        font-size: 22px !important;
    }
}
@media(max-width:1400px) {
    .profForm-field input[type="text"], .profForm-field select, .prupField input[type=text] {
        height: 32px;
        font-size: 14px;
    }
    .profForm-field textarea {
        font-size: 14px;
    }
    .profForm-field label {
        font-size: 18px;
    }
    .prformSect h3 {
        font-size: 24px;
    }
    .profForm-field label.fslitt {
        font-size: 17px;
    }
    .profForm-field button {
        height: 32px;
        width: 32px;
        font-size: 22px;
    }
    .prupPic .picture {
        max-width: 200px;
        max-height: 200px;
    }
    .prupPic button, .profileSave {
        width: 220px;
        font-size: 18px;
        height: 40px;
        line-height: 40px;
    }
    .prupPic .progress-pic-bar {
        width: 220px !important;
    }
    .prup-fields .prupField {
        background-position: 15px center;
        background-size: 40px;
    }
}
@media(max-width:1199px) {
     .prup-fields .prupField {
        background-position: 10px center;
        background-size: 40px;
    }
    .profForm-field label, .profForm-field label.fslitt {
        font-size: 14px;
    }
    .prup-fields .prupField {
        padding: 10px 0;
    }
    .profBlue-block {
        background-size: 100% 100%;
    }
}

@media(max-width:991px) {
    .prup-fields .prupField {
        background-position: 10px center;
        background-size: 30px;
    }
    .prup-fields .prupField {
        padding: 5px 0;
    }
    .profBlue-block {
        height: auto;
    }
}
@media(max-width:900px) {
    .profBlue-block h1 span {
        font-size: 50px;
    }
    .profBlue-block h1 {
        width: 430px;
    }
}
@media(max-width:800px) {
    .profBlue-block h1 span {
        font-size: 40px;
    }
}
@media(max-width:767px) {
    .prformSect {
        margin-left: 0;
    }
    .profForm-field input[type=text], .profForm-field select {
        margin-bottom: 10px;
    }
}
@media(max-width:600px) {
    .profForm-field textarea {
        height: 100px;
    }
}
@media(max-width:480px) {
    .prupField .col-xs-offset-1 {
        margin-left: 11.333333%;
    }
    .prupField .col-xs-11 {
        width: 88.666667%;
    }
    .profBlue-block h1 span:nth-child(2), .profBlue-block h1 span:first-child {
        text-align: center;
    }
    .profBlue-block h1 {
        width: 100%;
    }
}
@media(max-width:374px) {
    .profBlue-block h1 span {
        font-size: 34px;
    }
     .prupField .col-xs-offset-1 {
        margin-left: 13.333333%;
    }
    .prupField .col-xs-11 {
        width: 86.666667%;
    }
}

.cropArea {
    overflow: hidden;
    height:350px;
    background: #595959;
}

.primary {
    background-color: #74b7d1 !important;
}

.rotate-image {
    position: absolute;
    right: 20px;
    margin-top: -40px;
    cursor: pointer;
    color: rgba(238, 238, 238, 0.75);
    font-size: 1.5em;
    transition: .2s;
}

.rotate-image:hover {
    color: #fff;
    transition: .2s;
}

.progress-pic-bar .progress-bar {
    background: #74b7d1 !important;
}