.search-content {
    background-image: url(../images/background-search.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 100px 0;
}
.searchForm .sformTitle {
    text-transform: uppercase;
    color: #fff;
    background-color: #de8d60;
    margin: 0;
    font-size: 50px;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px 2px 10px #a2a2a2;
    position: relative;
}
.searchForm {
    width: 45%;
    margin: 0 auto;
    min-width: 800px;
}
.formshadow {
    box-shadow: -3px 5px 10px #737373;
}
.sectForm-title {
    text-transform: uppercase;
    color: #acacac;
    font-family: 'DIN Pro Medium';
    font-size: 24px;
}
.searchForm-content {
    background-color: #fff;
    padding: 30px 40px;
}
.sfField label {
    font-family: 'DIN Pro Light Italic';
    color: #acacac;
    display: block;
    font-size: 20px;
    font-weight: normal;
}
.sfField input, .sfField select {
    border: 1px solid #b0c5d0;
    outline: 0;
    height: 40px;
    padding: 5px 10px;
    background-color: #fff;
    width: 100%;
    font-size: 18px;
}
.bottom30 {
    margin-bottom: 30px;
}
.sfField input[type="checkbox"] {
    display: inline-block;
    width: 22px;
    height: 22px;
    outline: none;
    margin: 0;
    vertical-align: middle;
}
.sfField.check label {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}
.searchForm .searchBtn {
    font-family: 'DIN Pro Medium';
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    background-color: #74b7d1;
    border: none;
    margin-top: 20px;
    height: 45px;
    font-size: 26px;
    box-shadow: 0px 0px 10px #737373;
}




@media(min-height:800px) {
    .search-content {
        min-height: 880px;
    }
}
@media(max-width:1400px) {
    .sfField label {
        font-size: 18px;
    }
    .sfField input, .sfField select {
        height: 32px;
        font-size: 14px;
    }
}
@media(max-width:1199px) {
    .sfField label {
        font-size: 14px;
    }
}
@media(max-width:991px) {
     .checkBlock {
        margin-bottom: 5px;
    }
    .searchForm {
        width: 600px;
        min-width: auto;
    }
}
@media(max-width:767px) {
    .sfField label {
        font-size: 16px;
    }
    .topphone10 {
        margin-top: 10px;
    }
    .searchForm {
        width: 80%;
    }
    .searchForm .sformTitle {
        font-size: 30px;
    }
}