.settings-content {
    max-width: 1660px;
    margin: 0 auto;
    padding-top: 50px;
}
.settings-content h1 {
    color: #74b7d1;
    font-family: 'DIN Pro Medium';
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 20px;
}
.settings-content .greyForm {
    background-color: #ebebeb;
    /*padding: 20px;*/
}
.setFields {
    border-top: 1px double #6b93a7;
    border-bottom: 1px double #6b93a7;
    margin-bottom: 50px;
}
.setFields .setLine:last-child {
    border-bottom: none;
}
.setLine .setText {
    color: #acacac;
    font-size: 18px;
    margin: 0;
    padding: 10px 0 10px 20px;
    text-transform: uppercase;
    font-family: 'DIN Pro Medium';
}
.setText.reg {
    font-family: 'DIN Pro';
}
.setLine .setLink {
    text-transform: uppercase;
    text-decoration: underline;
    color: #6b93a7;
    font-size: 18px;
    font-family: 'DIN Pro';
    padding: 10px 20px;
    display: inline-block;
    float: right;
}
.setLine .setLink:hover {
    text-decoration: none;
}
.setFields .setLine {
    border-bottom: 1px solid #c4d4dc;
}
.greyForm input[type="submit"] {
    text-transform: uppercase;
    text-transform: uppercase;
    background-color: #74b7d1;
    color: #fff;
    border: none;
    height: 45px;
    font-family: 'DIN Pro Medium';
    outline: none;
    font-size: 18px;
    box-shadow: -2px 2px 10px #ababab;
    margin: 0 20px 20px 0;
    width: 180px;
}
.greyForm input[type="submit"]:active {
    box-shadow: 0 0 10px #909090;
}
.grform-centerBlock {
    max-width: 1000px;
    margin: 0 auto;
}
.grform-centerBlock label {
    font-family: 'DIN Pro Medium';
    color: #acacac;
    text-transform: uppercase;
}
.grform-centerBlock label {
    font-family: 'DIN Pro Medium';
    color: #acacac;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    text-align: right;
    margin: 0;
    display: block;
    height: 40px;
    line-height: 40px;
}
.grform-centerBlock input, .grform-centerBlock select {
    padding: 5px 10px;
    outline: 0;
    height: 40px;
    width: 300px;
    font-size: 18px;
    background: #fff;
}
.bottom10 {
    margin-bottom: 10px;
}
::-webkit-input-placeholder {color:#ccc;font-family: 'DIN Pro';}
::-moz-placeholder          {color:#ccc;font-family: 'DIN Pro';}/* Firefox 19+ */
:-moz-placeholder           {color:#ccc;font-family: 'DIN Pro';}/* Firefox 18- */
:-ms-input-placeholder      {color:#ccc;font-family: 'DIN Pro';}







@media(max-width:1400px) {
    .grform-centerBlock input, .grform-centerBlock select {
        font-size: 14px;
        height: 32px;
    }
}
@media(max-width:1366px) {
    .settings-content {
        max-width: 1200px;
    }
    .grform-centerBlock label {
        font-size: 18px;
    }
}
@media(max-width:991px) {
    .setLine .setLink, .setLine .setText, .grform-centerBlock label {
        font-size: 16px;
    }
    .grform-centerBlock input, .grform-centerBlock select {
        width: 300px;
        height: 35px;
    }
    .grform-centerBlock label {
        height: 35px;
        line-height: 35px;
    }
    .greyForm input[type=submit] {
        height: 36px;
        width: 120px;
    }
}
@media(max-width:767px) {
    .grform-centerBlock label {
        text-align: left;
    }
    .grform-centerBlock {
        width: 260px;
    }
    .grform-centerBlock label {
        height: auto;
        line-height: inherit;
    }
    .grform-centerBlock input, .grform-centerBlock select {
        width: 100%;
    }
}
@media(max-width:480px) {
    .settings-content h1 {
        font-size: 30px;
    }
    .text-right.phone-center {
        text-align: center;
    }
    .greyForm input[type=submit] {
        margin: 10px 0 20px 0;
    }
}
@media(max-width:480px) {
    
}