.signup-content {
    max-width: 1660px;
    margin: 0 auto;
    padding-top: 50px;
}
.signupFirst-block .signlogo img {
    max-width: 300px;
}
.signupFirst-block h1, .signup-content h2 {
    color: #74b7d1;
    font-family: 'DIN Pro Medium';
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 20px;
}
#signUp p:first-child {
    font-family: 'DIN Pro Medium';
    color: #acacac;
    text-transform: uppercase;
    font-size: 24px;
}
#signUp .formField label {
    font-family: 'DIN Pro Light Italic';
    color: #acacac;
    display: block;
    font-size: 20px;
    font-weight: normal;
}
#signUp .formField input, #signUp .formField select {
    border: 1px solid #b0c5d0;
    outline: none;
    height: 40px;
    padding: 5px 10px;
    background-color: #fff;
    width: 100%;
    font-size: 18px;
}
#signUp .formField input:focus {
    box-shadow: 0px 0px 5px #b0c5d0;
}
.formField {
    margin-bottom: 20px;
}
#signUp input[type="submit"] {
    text-transform: uppercase;
    background-color: #74b7d1;
    color: #fff;
    border: none;
    width: 100%;
    height: 45px;
    font-family: 'DIN Pro Medium';
    outline: none;
    font-size: 26px;
    box-shadow: -2px 2px 10px #ababab;
}
#signUp input[type="submit"]:active {
    box-shadow: 0 0 10px #909090;
}
.signuptop {
    padding-bottom: 200px;
    background-image: url(../images/comp-pic.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 100% -50px;
}
.signupbottom {
    padding-bottom: 30px;
}


@media(max-width:1600px) {
    .signuptop {
        padding-bottom: 100px;
    }
}
@media(max-width:1400px) {
    .signuptop {
        padding-bottom: 50px;
    }
    .signuptop {
        background-position: center right;
    }
    .signup-content {
        max-width: 1200px;
    }
    #signUp .formField label {
        font-size: 18px;
    }
    #signUp .formField input, #signUp .formField select {
        font-size: 14px;
        height: 32px;
    }
}
@media(max-width:1199px) {
    #signUp .formField label {
        font-size: 14px;
    }
}
@media(max-width:767px) {
    .signuptop {
        background-image: none;
    }
    .formField {
        margin-bottom: 10px;
    }
    #signUp input[type=submit] {
        margin-top: 10px;
    }
    #signUp .formField label {
        font-size: 16px;
    }
}
@media(max-width:480px) {
    .signup-content h2, .signupFirst-block h1 {
        font-size: 30px;
    }
    header .header-logo a img {
        height: 60px;
        margin: 20px 0;
    }
    header .header-logo a span {
        top: 60px;
    }
    .headerMenu .gamburger img {
        margin-right: 5px;
    }
    .headerMenu .loginLink {
        width: 90px;
    }
    a.forgot {
        font-size: 12px;
        line-height: 14px;
    }
    footer p {
        font-size: 14px;
        margin: 40px 0;
    }
    .with-icon .fa{
        bottom: 10px !important;
    }
}

.with-icon .fa {
    position: absolute;
    bottom: 30px;
    right: 25px;
}

.primary-text {
    color: #74b7d1 !important;
}

.orange-text {
    color: #ee8a56 !important;
}

.orange-border {
    border-color: #ee8a56 !important;
}