.membTop.welcome-top {
    height: 200px;
}

.membTop.welcome-top h1 {
    padding: 70px 0;
    max-width: none;
    text-align: center;
}

.memb-content.welcome-content {
    font-size: 1.2em;
    background: none;
}