
<section class="partnerss">
   <div class="container">
      <h1>PARTNERS <span class="text-gray">{{vm.totalRecords}}</span></h1>
      <div class="row">
         <div class="col-sm-4" ng-repeat="pcompany in vm.pcompanies">
            <div class="customcol">
               <div class=""><a href="" ng-click="vm.companyDetailDialog(pcompany)"><img src="https://via.placeholder.com/350x150"></a></div>
               <!-- <div  class="companyName">{{pcompany['COMPANY NAME']}}</div> -->

               <div uib-tooltip="{{pcompany['COMPANY NAME'].length > 20 ? pcompany['COMPANY NAME'] : ''}}" class="companyName">{{pcompany['COMPANY NAME'] | limitTo:20}}{{pcompany['COMPANY NAME'].length > 20 ? '...' : ''}}</div>
            </div>
         </div>
      </div>
      <div class="fav-pagination">
         <ul uib-pagination
            total-items="vm.totalRecords"
            ng-model="vm.params.page"
            max-size="3"
            class="pagination-sm"
            ng-change="vm.getPartnerCompanies()"
            rotate="true"
            force-ellipses="true"
            next-text=">>"
            previous-text="<<"
            ></ul>
      </div>
   </div>
</section>