<div class="modal-body modal-primary primary">
    <h3><b><u>{{ngDialogData.company['COMPANY NAME']}}</u></b></h3>
    <i class="fa fa-close pull-right" ></i>
</div>
<div class="modal-body">
	<div class="form-group">
        <label for="state">STATE: </label> {{ngDialogData.company['STATE']}}
	</div>
	<div class="form-group">
        <label for="state">CITY: </label> {{ngDialogData.company['CITY']}}
	</div>
	<div class="form-group">
        <label for="state">PHONE NUMBER: </label> {{ngDialogData.company['PHONE NUMBER']}}
	</div>
    <div class="form-group">
        <label for="state">EMAIL: </label> {{ngDialogData.company['EXECUTIVE EMAIL']}}
	</div>
	<div class="form-group">
        <label for="state">WEBSITE: </label> {{ngDialogData.company['WEB ADDRESS']}}
	</div>
</div>