<div class="search-content">
    <div class="searchForm">
        <form ng-submit="vm.send()">
            <div class="formshadow">
                <p class="sformTitle">Forgot Password</p>
                <div class="searchForm-content">
                    <div class="row bottom30">
                        <div class="col-sm-offset-3 col-sm-6">
                            <div class="sfField">
                                <label>Email:</label>
                                <input type="email" ng-model="vm.email" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input class="searchBtn" type="submit" value="Send">
        </form>
    </div>
</div>