<div class="search-content">

    <div class="searchForm">
        <uib-alert type="{{vm.alert.type}}" ng-if="vm.alert" class="text-center">
            {{vm.alert.text}}
        </uib-alert>
        <form name="vm.loginForm">
            <div class="formshadow">
                <div class="searchForm-content">
                    <div class="row bottom30">
                        <div class="col-sm-offset-3 col-sm-6">
                            <div class="sfField">
                                <label>Email:</label>
                                <input type="email" ng-model="vm.credentials.email">
                            </div>
                        </div>
                        <div class="col-sm-offset-3 col-sm-6">
                            <div class="sfField">
                                <label>Password:</label>
                                <input type="password" ng-model="vm.credentials.password">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input ng-click="vm.login()" class="searchBtn" type="submit" value="Sign In">
        </form>
    </div>
</div>