<div class="container-fluid">
    <div class="signup-content">
        <div class="signuptop">
            <div class="row">
                <div class="col-md-6 col-sm-8">
                    <div class="signupFirst-block">
                        <div class="signlogo">
                            <img src="dist/images/logo-1.png" alt="logo">
                        </div>
                        <h1>SPONSORSHIP Engine</h1>
                        <form name="vm.registerForm" id="signUp">
                            <p>Sign up</p>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="formField">
                                        <label for="firstName">First Name:</label>
                                        <input id="firstName" type="text" ng-model="vm.driver.firstName" required>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="formField">
                                        <label for="lastName">Last Name:</label>
                                        <input id="lastName" type="text" ng-model="vm.driver.lastName" required>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="formField">
                                        <label for="gender">Gender:</label>
                                        <select id="gender">
                                            <option value="0"></option>
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-6">
                                    <div class="formField">
                                        <label for="email">Email Address:</label>
                                        <input id="email" type="email" ng-model="vm.driver.email" required>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="formField with-icon">
                                        <label for="username">Username:</label>
                                        <input id="username" ng-class="{'orange-border': vm.usernameIsExist}" type="text" ng-model="vm.driver.userName"
                                               ng-change="vm.checkUsername()" required>
                                        <i class="fa"
                                           ng-show="vm.checkUsernameShow"
                                           ng-class="{'fa-check primary-text': !vm.usernameIsExist, 'fa-close orange-text': vm.usernameIsExist}"></i>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-4">
                                    <div class="formField">
                                        <label for="password">Password:</label>
                                        <input id="password" type="password" ng-model="vm.driver.password" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="formField">
                                        <label for="verifyPassword">Verify Password:</label>
                                        <input id="verifyPassword" type="password" ng-model="vm.driver.verifyPassword" required>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-4">
                                    <input type="submit" value="Sign up" ng-click="vm.register()">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <h2>See how it works</h2>
    </div>
    <div class="signupbottom">
        <div class="container-fluid">
            <div class="siginVideo-sect">
                <div class="video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="" height="" src="https://player.vimeo.com/video/223534657" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>