<div class="search-content">
  <div class="searchForm">
    <div class="formshadow" ng-init="vm.verifyUserAccount()">
      <p class="sformTitle">{{vm.message}}</p>
      <div class="searchForm-content">
        <div class="row bottom30">
          <div class="col-sm-offset-3 col-sm-6">
            <div class="sfField">
              <input type="button" ng-click="vm.redirectToLogin()" value="Login" required>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
