<div class="search-content" ng-init="vm.init()">
    <div class="searchForm">
        <form ng-submit="vm.getCompaniesByParams()">
            <div class="formshadow">
                <p class="sformTitle">RaceAgent Engine</p>
                <div class="searchForm-content">
                    <p class="sectForm-title">Location Search</p>
                    <div class="row bottom30">
                        <div class="col-sm-3">
                            <div class="sfField">
                                <label for="zipCode">Zip Code:</label>
                                <input id="zipCode" type="text" ng-model="vm.params.zipcode">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="sfField">
                                <label for="city">City:</label>
                                <input id="city" type="text" ng-model="vm.params.city">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="sfField">
                                <label for="state">State:</label>
                                <select id="state"
                                        ng-options="item for item in vm.stateList"
                                        ng-model="vm.params.state"
                                        ng-disabled="false">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="sfField">
                                <label for="metroArea">Metro Area:</label>
                                <select id="metroArea"
                                        ng-options="item for item in vm.metroAreaList"
                                        ng-model="vm.params.metroArea">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <p class="sectForm-title">company Search</p>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="sfField">
                                <label for="employeeSize">Employee Size:</label>
                                <select id="employeeSize"
                                        ng-options="item for item in vm.employeeSizeList"
                                        ng-model="vm.params.empSizeRange">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="sfField">
                                <label for="salesVolume">Sales Volume:</label>
                                <select id="salesVolume"
                                        ng-options="item for item in vm.salesVolumeList"
                                        ng-model="vm.params.salseVolumeRange">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="sfField check topphone10">
                                <div class="checkBlock">
                                    <input type="checkbox" id="check1" ng-disabled="true">
                                    <label for="check1">Headquater</label>
                                </div>
                                <div class="checkBlock">
                                    <input type="checkbox" id="check2" ng-disabled="true">
                                    <label for="check2">Branch</label>
                                </div>
                                <div class="checkBlock">
                                    <input type="checkbox" id="check3" ng-disabled="true">
                                    <label for="check3">Franchise</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="sfField check">
                                <div class="checkBlock">
                                    <input type="checkbox" id="check4" ng-disabled="true">
                                    <label for="check4">Public</label>
                                </div>
                                <div class="checkBlock">
                                    <input type="checkbox" id="check5" ng-disabled="true">
                                    <label for="check5">Private</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input class="searchBtn" type="submit" value="search">
        </form>
    </div>
</div>