<div class="profBlue-block">
    <div class="container-fluid">
        <h1>
            <span>Build Your</span>
            <span>Driver Profile</span>
        </h1>
    </div>
</div>
<div class="profile-content" ng-init="vm.getDriver()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="prof-uploadSect"
                     flow-init="vm.flowConfig"
                     flow-file-success="vm.update($message)"
                     flow-name="vm.flow">
                    <div class="prupPic">
                        <div class="picture">
                            <img ng-if="!vm.flow.files[0] && vm.driver.profilePic" ng-src="uploads/{{vm.driver.profilePic}}" width="100%">
                            <img ng-if="!vm.flow.files[0] && !vm.driver.profilePic" src="dist/images/upload-pic.png" width="100%">
                            <img ng-if="vm.flow.files[0]" flow-img="vm.flow.files[0]" width="100%">
                        </div>
                        <div class="progress-pic-bar" ng-if="vm.flow.files[0]">
                            <uib-progressbar class="progress-primary active" max="100" value="vm.flow.files[0].progress() * 100"></uib-progressbar>
                        </div>
                        <button ui-sref="main.driver.account.uploadAvatar">upload an image</button>
                    </div>
                    <div class="prup-fields">
                        <div class="prupField">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-11 col-xs-offset-1">
                                    <input type="text" placeholder="Website URL" ng-model="vm.driver.websiteUrl">
                                </div>
                            </div>
                        </div>
                        <div class="prupField">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-11 col-xs-offset-1">
                                    <input type="text" placeholder="Facebook URL" ng-model="vm.driver.facebookUrl">
                                </div>
                            </div>
                        </div>
                        <div class="prupField">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-11 col-xs-offset-1">
                                    <input type="text" placeholder="Twitter URL" ng-model="vm.driver.twitterUrl">
                                </div>
                            </div>
                        </div>
                        <div class="prupField">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-11 col-xs-offset-1">
                                    <input type="text" placeholder="Instagram URL" ng-model="vm.driver.instagramUrl">
                                </div>
                            </div>
                        </div>
                        <div class="prupField">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-11 col-xs-offset-1">
                                    <input type="text" placeholder="Blog URL" ng-model="vm.driver.blogUrl">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-sm-8">
                <div class="prformSect">
                    <form name="vm.formDriver">
                      <h3>Who Are you?</h3>
                      <h4><a ui-sref="main.driver.profile({username: vm.driver.userName})">See Public</a></h4>
                      <!--<h4>Membership Plan: {{vm.driver.plan}}</h4>-->
                        <div class="lineprForm">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="profForm-field">
                                        <label>First Name: *</label>
                                        <input type="text" ng-model="vm.driver.firstName" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="profForm-field">
                                        <label>Last Name: *</label>
                                        <input type="text" ng-model="vm.driver.lastName" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                     <div class="profForm-field">
                                        <label>Username: *</label>
                                        <input type="text" ng-model="vm.driver.userName" required>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-4">
                                    <div class="profForm-field">
                                        <label>Hometown: *</label>
                                        <input type="text" ng-model="vm.driver.homeTown" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="profForm-field">
                                        <label>Residence: *</label>
                                        <input type="text" ng-model="vm.driver.residence" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="profForm-field">
                                        <label>Home Track: *</label>
                                        <input type="text" ng-model="vm.driver.homeTrack" required>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-5">
                                    <div class="profForm-field">
                                        <label>Address: *</label>
                                        <input type="text" ng-model="vm.driver.address" required>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="profForm-field">
                                        <label>City: *</label>
                                        <input type="text" ng-model="vm.driver.city" required>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="profForm-field">
                                        <label>State: *</label>
                                        <input type="text" ng-model="vm.driver.state" required>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="profForm-field">
                                        <label>Zip: *</label>
                                        <input type="text" ng-model="vm.driver.zip" required>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-3">
                                    <div class="profForm-field">
                                        <label>Birthday: *</label>
                                        <input uib-datepicker-popup="MM/dd/yyyy"
                                               is-open="datepickerShow"
                                               type="text"
                                               placeholder="MM/DD/YYYY"
                                               ng-model="vm.driver.birthdate"
                                               ng-click="datepickerShow = !datepicker">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-3">
                                    <div class="profForm-field">
                                        <label>Years of Experience: *</label>
                                        <input type="text" placeholder="" ng-model="vm.driver.experience" required>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div ng-repeat="row in vm.rows">
                                    <div class="col-sm-3">
                                        <div class="profForm-field">
                                            <label>Series Type:</label>
                                            <input type="text" ng-model="vm.driver.seriesType">
                                            <!--<select ng-options="item.value as item.name for item in vm.seriesTypes" ng-model="row.driver.seriesType"></select>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-3">
                                        <div class="profForm-field">
                                            <label class="fslitt">Car Number:</label>
                                            <input type="text" ng-model="row.carNumber">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="profForm-field text-center">
                                        <label>Add Row:</label>
                                        <button class="bluecircle" ng-click="vm.addRow()">+</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-12">
                                    <div class="profForm-field">
                                        <label>Bio: *</label>
                                        <textarea ng-model="vm.driver.bio" required></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12"
                                     flow-init="vm.flowPdfConfig"
                                     flow-file-success="vm.update(null, $message)"
                                     flow-files-submitted="vm.flowPdf.upload()"
                                     flow-name="vm.flowPdf">
                                    <div class="profForm-field">
                                        <label>Sponsorship Pitch: *</label>
                                        <textarea ng-model="vm.driver.sponsorshipPitch" required></textarea>
                                    </div>
                                    <div ng-if="vm.flowPdf.files[0]">
                                        <span class="fa fa-file-pdf-o fa-2x text-red"></span>
                                        <span style="vertical-align: super">{{vm.flowPdf.files[0].name | json}}</span>
                                    </div>
                                    <a target="_blank" ng-href="/uploads/pdf/{{vm.driver.sponsorshipPitchAttachment}}" ng-if="vm.driver.sponsorshipPitchAttachment && !vm.flowPdf.files[0]">
                                        <div>
                                            <span class="fa fa-file-pdf-o fa-2x text-red"></span>
                                            <span style="vertical-align: super">{{vm.driver.sponsorshipPitchAttachment}}</span>
                                        </div>
                                    </a>
                                    <br>
                                    <div class="progress-pic-bar" ng-if="vm.flowPdf.files[0]">
                                        <uib-progressbar class="progress-primary active" max="100" value="vm.flowPdf.files[0].progress() * 100"></uib-progressbar>
                                    </div>
                                    <br>
                                    <input ng-if="!vm.flowPdf.files[0]" class="profileSave" type="button" value="{{vm.driver.sponsorshipPitchAttachment ? 'Change' : 'Browse'}}" flow-btn="">
                                </div>
                                <div class="text-right">
                                    <input ng-if="!vm.flow.files[0]" class="profileSave" type="submit" value="Save" ng-click="vm.update()">
                                    <input ng-if="vm.flow.files[0]" class="profileSave" type="submit" value="Save" ng-click="vm.flow.upload()">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>