<div class="search-content">
    <div class="searchForm">
        <form name="vm.lostkeys">
            <div class="formshadow">
                <div class="searchForm-content">
                    <div class="row bottom30">
                        <div class="col-sm-offset-3 col-sm-6">
                            <div class="sfField">
                                <label>Your Email:</label>
                                <input type="username">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input ng-click="vm.forgotPassword()" class="searchBtn" type="submit" value="Reset Password">
        </form>
    </div>
</div>