<div class="prof-uploadSect"
     flow-init="vm.flowConfig"
     flow-file-success="vm.update($message)"
     flow-file-added="vm.fileAdded($flow, $file)"
     flow-name="vm.flow">
    <div class="prupPic" ng-init="vm.getDriver()">

        <div class="cropArea" ng-if="vm.flow.files[0]">
            <img-crop id="cropImage"
                      image="originImage"
                      change-on-fly="true"
                      result-image="vm.profilePic"></img-crop>
        </div>
        <span class="rotate-image" ng-click="vm.rotate()" ng-if="vm.flow.files[0]"><i class="fa fa-refresh"></i></span>

        <br ng-if="!vm.flow.files[0] && vm.driver.profilePic">
        <div class="picture" ng-if="!vm.flow.files[0] && vm.driver.profilePic">
            <img ng-src="uploads/{{vm.driver.profilePic}}" width="100%">
        </div>

        <div class="box-body">
            <div class="progress-pic-bar" ng-if="vm.flow.files[0]">
                <uib-progressbar class="progress-primary active" max="100" value="vm.uploadProgress"></uib-progressbar>
            </div>
            <br>
            <button flow-btn="">Change Image</button>
            <button class="primary" ng-if="vm.flow.files[0]" ng-click="vm.upload()">Crop and Save</button>
        </div>
    </div>
</div>