<div class="membTop welcome-top">
    <div class="container-fluid">
        <h1>
            <span>Welcome to RaceAgent</span>
        </h1>
    </div>
</div>
<div class="clearfix"></div>
<div class="memb-content welcome-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-3 col-sm-6">
                <p>
                    You are officially on the motorsport industry’s leading sponsorship acquisition platform. Welcome
                    and thank you for your commitment to our brand. Now let’s get to work!
                </p>
                <p>
                    The RaceAgent Sponsorship Engine is a Prospecting solution designed for one purpose: to give drivers
                    and teams a platform to secure sponsorships. The RaceAgent Sponsorship Engine is alive and firing on
                    all cylinders compiling the most accurate data gathered form a variety of sources including
                    telephone interviews, phone directories, and trusted third-party sources. Email addresses are
                    processed to verify deliverability, and IP addresses are checked for legitimacy. Tens of thousands
                    of business contacts are now at your fingertips. All you need to do is deliver the right message.
                </p>
                <h3>BUILD</h3>
                <p>
                    First, build your driver profile: a key element to your prospective sponsor pitch. Your driver
                    profile is accessible by company executives, so be sure to keep it updated throughout the year with
                    results and awards to increase your marketability. Have a question or want guidance to help build
                    your professional driver profile? Give us a call. One of our professional writers can articulate
                    your brand and give you the edge you need to generate interest from sponsors.
                </p>
                <h3>CONTACT</h3>
                <p>
                    Once your profile is created, you’re ready to start contacting companies. Use the RaceAgent Engine
                    search tool to find local, regional, or national sponsors. Refine your sponsor search to the tracks
                    you will be competing at throughout the season or keep it local. TIP: If you are a professional team
                    looking for more than $150,000 in sponsorship, use the revenue drop-down and select companies with
                    revenues above $10M annually. Use the “favorites” feature to bookmark companies you’re interested
                    in. Have questions about what companies to approach? RaceAgent’s customer care is second to none;
                    shoot us an email or give us a call.
                </p>
                <h3>CONNECT</h3>
                <p> It’s helpful to add your contact information, including phone number, in your prospecting emails.
                    View and respond to sponsor emails directly in the app, or take it to the next level on a phone
                    call.
                </p>
                <h3>OUT THE WINDSHIELD:</h3>
                <p>
                    2018 will bring new and exciting member accessibility. We will be launching our “Click to Enter
                    Sponsorships” sweepstakes in which you can win up to $10,000 a month just by entering. Keep an eye
                    out for updates and announcements in our newsletter, coming via email beginning January.
                </p>
                <p>
                    Please email info@teamraceagent.com or call 704-993-0572 during office hours with any questions. Our
                    response team will get back with you within 24 hours. We look forward to helping your race team
                    reach that next level!
                </p>
            </div>
        </div>
    </div>
</div>
