<section class="content" ng-init="vm.getMessages()">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Folders</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-class="{'active': vm.tab === 'inbox'}" ng-click="vm.setTab('inbox')">
                            <a href=""><i class="fa fa-inbox"></i> Inbox
                            <span class="label label-primary pull-right">{{vm.messages.inbox.length}}</span></a>
                        </li>
                        <li ng-class="{'active': vm.tab === 'sentbox'}" ng-click="vm.setTab('sentbox')">
                            <a href=""><i class="fa fa-envelope-o"></i> Sent</a>
                        </li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="box box-primary" ng-if="!vm.message">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span ng-if="vm.tab === 'inbox'">Inbox</span>
                        <span ng-if="vm.tab === 'sentbox'">Sentbox</span>
                    </h3>
                </div>
                <div class="box-body no-padding">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <tbody>
                            <tr ng-repeat="message in vm.messages[vm.tab]" ng-if="vm.messages[vm.tab].length">
                                <td class="mailbox-name" ng-click="vm.openMessage($index)"><a href="">{{message.subject}}</a></td>
                                <td class="mailbox-subject">{{(message.messageContents | limitTo: 45) + '...'}}
                                </td>
                                <td class="mailbox-attachment">
                                    <i class="fa fa-paperclip" ng-show="message.profileAttached"></i>
                                </td>
                                <td class="mailbox-date">{{message.sentOn | date : 'dd MMM yyyy H:m'}}</td>
                            </tr>
                            <tr ng-if="!vm.messages[vm.tab].length">
                                <td colspan="3">You don't have {{vm.tab}} message</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.box-body -->
            </div>

            <div class="box box-primary" ng-if="vm.message">
                <div class="box-header with-border">
                    <h3 class="box-title">Read Mail</h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-read-info">
                        <h3>{{vm.message.subject}}</h3>
                        <h5>From: me
                            <span class="mailbox-read-time pull-right">{{vm.message.sentOn | date : 'dd MMM yyyy H:m'}}</span></h5>
                    </div>
                    <!-- /.mailbox-controls -->
                    <div class="mailbox-read-message" ng-bind-html="vm.message.messageContents"></div>
                    <!-- /.mailbox-read-message -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<br>