<div class="reading" ng-style="vm.style">
    <div class="readtCenter">
        <h1>{{vm.step.name}}</h1>
        <img src="../dist/images/loading.png" alt="">
        <h4>
            Loading Your <br> search Results
        </h4>
    </div>
</div>