<div class="favorites-sect" ng-init="vm.init()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="favLeft-section">
                    <h2>Search Options</h2>
                    <form>
                        <div class="favForm">
                            <div class="favField">
                                <label for="search">Keyword:</label>
                                <input id="search" type="text" ng-model="vm.params.search" ng-change="vm.getFavoritesCompanies()">
                            </div>
                            <div class="favField top20 checkfav" ng-if="">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="sfField check">
                                            <div class="checkBlock">
                                                <input type="checkbox" id="check1">
                                                <label for="check1">Headquater</label>
                                            </div>
                                            <div class="checkBlock">
                                                <input type="checkbox" id="check2">
                                                <label for="check2">Branch</label>
                                            </div>
                                            <div class="checkBlock">
                                                <input type="checkbox" id="check3">
                                                <label for="check3">Franchise</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="sfField check">
                                            <div class="checkBlock">
                                                <input type="checkbox" id="check4">
                                                <label for="check4">Public</label>
                                            </div>
                                            <div class="checkBlock">
                                                <input type="checkbox" id="check5">
                                                <label for="check5">Private</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<input type="submit" value="Update Results">-->
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="favCenter-section">
                    <h1>FAVORITES <span class="text-gray">{{vm.companiesTotalRecords}}</span></h1>
                    <div class="favCompany-block">
                        <div class="comName-block" ng-repeat="company in vm.companies">
                            <div class="row">
                                <div class="col-md-8 col-sm-7">
                                    <div class="leftComp-name">
                                        <p class="title" ng-show="vm.params.search"><span
                                                ng-style="{'color': vm.params.search.indexOf(char) !== -1 ? '#df9166' : '#acacac'}"
                                                ng-repeat="char in company['COMPANY NAME'] track by $index">{{char}}</span></p>
                                        <p class="title" ng-show="!vm.params.search">
                                            <span ng-repeat="char in company['COMPANY NAME'] track by $index">{{char}}</span>
                                        </p>
                                        <p class="descr">
                                            {{company['ADDRESS']}}, {{company['STATE']}} {{company['ZIP CODE']}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="rightComp-name">
                                        <img src="../dist/images/mappic.png" alt="map">
                                        <a href="" ng-click="vm.contactCompany(company)">contact</a>
                                    </div>
                                </div>
                                <a href="" class="like">
                                    <i ng-click="vm.removeFavoriteCompany(company._id)" class="fa fa-heart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="fav-pagination">
                        <ul uib-pagination
                            total-items="vm.companiesTotalRecords"
                            ng-model="vm.params.page"
                            max-size="3"
                            class="pagination-sm"
                            ng-change="vm.getFavoritesCompanies()"
                            rotate="true"
                            force-ellipses="true"
                            next-text=">>"
                            previous-text="<<"
                        ></ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="rec-block">
                    <a href="#"><img src="../dist/images/rec-block.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>