<div ng-show="vm.companiesLoaded" class="favorites-sect" ng-init="vm.init()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="favLeft-section">
                    <h2>Search Options</h2>
                    <form>
                        <div class="favForm">
                            <div class="favField" ng-show="">
                                <label>Keyword:</label>
                                <input type="text">
                            </div>
                            <!--<div class="favField">-->
                                <!--<label>Industry:</label>-->
                                <!--<select>-->
                                    <!--<option value="0"></option>-->
                                    <!--<option value="1">Text</option>-->
                                    <!--<option value="2">Text</option>-->
                                    <!--<option value="3">Text</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <div class="favField">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <label for="zipcode">Zip Code:</label>
                                        <input type="text"
                                               id="zipcode"
                                               placeholder="Zipcode"
                                               ng-model="vm.params.zipcode">
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <label for="city">City:</label>
                                        <input type="text"
                                               id="city"
                                               placeholder="City"
                                               ng-model="vm.params.city">
                                    </div>
                                </div>
                            </div>
                            <div class="favField">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12">
                                        <label for="state">State:</label>
                                        <select id="state"
                                                ng-model="vm.params.state"
                                                ng-options="item for item in vm.stateList ">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <label for="metroArea">Metro Area:</label>
                                        <select id="metroArea"
                                                ng-options="item for item in vm.metroAreaList"
                                                ng-model="vm.params.metroArea">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="favField">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <label for="empSizeRange">Emp Size Range:</label>
                                        <select id="empSizeRange"
                                                ng-options="item for item in vm.employeeSizeList"
                                                ng-model="vm.params.empSizeRange">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <label for="salesVolumeRange">Sales Volume List:</label>
                                        <select id="salesVolumeRange"
                                                ng-options="item for item in vm.salesVolumeList"
                                                ng-model="vm.params.salseVolumeRange">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Update Results" ng-click="vm.getCompaniesByParams()">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="favCenter-section">
                    <h1>RESULTS <span class="text-gray">{{vm.companiesTotalRecords}}</span></h1>
                    <div class="favCompany-block">
                        <div class="comName-block" ng-repeat="company in vm.companies">
                            <div class="row">
                                <div class="col-md-8 col-sm-7">
                                    <div class="leftComp-name">
                                        <p class="title">{{company['COMPANY NAME']}}</p>
                                        <p class="descr">
                                            {{company['ADDRESS']}}, {{company['STATE']}} {{company['ZIP CODE']}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="rightComp-name">
                                        <img src="../dist/images/mappic.png" alt="map">
                                        <a href="" ng-click="vm.contactCompany(company)">contact</a>
                                    </div>
                                </div>
                                <a href="" ng-if="company.favorite" ng-click="vm.removeFavoriteCompany(company)" class="like">
                                    <i class="fa fa-heart"></i>
                                </a>

                                <a href="" ng-if="!company.favorite" ng-click="vm.addCompanyToFavoriteList(company)"  class="like">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="fav-pagination">
                        <p class="pagTitle">{{vm.totalFavoritesCompanies}} <a ui-sref="main.favorites">Favorites</a></p>
                        <ul uib-pagination
                            total-items="vm.companiesTotalRecords"
                            ng-model="vm.params.page"
                            max-size="3"
                            class="pagination-sm"
                            ng-change="vm.getCompanies()"
                            rotate="true"
                            force-ellipses="true"
                            next-text=">>"
                            previous-text="<<"
                        ></ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="rec-block">
                    <a href="#"><img src="../dist/images/rec-block.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="!vm.companiesLoaded" ui-view="loading"></div>