<div class="modal-body modal-primary primary">
    <h3>Would you like us to contact <b><u>{{ngDialogData.company['COMPANY NAME']}}</u></b> on your behalf?</h3>
    <i class="fa fa-close pull-right" ng-click="closeThisDialog()"></i>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="message">Message</label>
        <textarea name="message"
                  autofocus
                  id="message"
                  placeholder="Enter message ..."
                  cols="30"
                  rows="8"
                  ng-model="vm.message.messageContents"
                  class="form-control"></textarea>
    </div>
    <div class="text-right">
        <div id="includeSponsorshipPitch"
             class="pull-left"
             uib-btn-checkbox=""
             ng-model="vm.message.profileAttached">
            <i class="fa fa-square"></i>
            <i ng-show="vm.message.profileAttached" class="fa fa-check"></i>
            Include Sponsorship Pitch</div>

        <button class="primary-btn orange-btn" ng-click="vm.send()">Send</button>
    </div>
</div>