<div class="container-fluid" >
    <div class="settings-content" ng-init="vm.getDriver()">
        <h1>Billing Settings</h1>
        <h4>Your monthly membership of ${{vm.subPlan.price}} will be debited on the {17th} of each month.
         Your annual membership for the upcoming year will automatically renew within 30 days of membership anniversary 
          unless you choose to update or change your membership by clicking <a href="" ng-click="editFormShow = !editFormShow" class="setLink">here</a>.</h4>
          <hr>
          <h4><a href="" ng-click="editFormShow = !editFormShow" class="setLink">UPDATE BILLING INFORMATION</a></h4>
          <hr>

      <!--  cardName, (holders name)
      city,
      country,
      addressLine1,
      addressLine2,
      zipcode,
      expiringMonth,
      expiringYear -->
         
        <div class="setFields">
            <div class="setLine" ng-show="editFormShow" ng-init="vm.getDriver()" >
                <div class="greyForm">
                    <form name="vm.formPayment" ng-submit="vm.updatePaymentDetails()">
                        <div class="greyformLine">
                            <p class="setText"></p>
                            <div class="grform-centerBlock">
                                <div class="row bottom10">
                                    <div class="col-sm-4"><label>Card Holder</label> </div>
                                    <div class="col-sm-6"><input type="text" placeholder ="Card Holder" ng-model="vm.formPayment.cardName"></div>
                                </div>
                                <!-- <div class="row bottom10">
                                    <div class="col-sm-4"><label>Last name</label></div>
                                    <div class="col-sm-6"><input type="text" ng-model="vm.driver.lastName" placeholder="Last Name"></div>
                                    
                                </div> -->
                                <!-- <div class="row bottom10">
                                    <div class="col-sm-4"><label>Email</label></div>
                                    <div class="col-sm-6"><input type="text" ng-model="vm.driver.email"  placeholder="Email "></div>
                                </div> -->
                                <div class="row bottom10">
                                    <div class="col-sm-4"><label>Brand</label></div>
                                    <div class="col-sm-6"><input type="text" placeholder="Brand" ng-model="vm.formPayment.brand"></div>
                                </div>
                                <div class="row bottom10">
                                    <div class="col-sm-4"><label>Card Number</label></div>
                                    <div class="col-sm-6"><input type="text" placeholder="Credit Card Number" ng-model="vm.formPayment.cardNumber" ></div>
                                </div>




                                <div class="row bottom10">
                                    <div class="col-sm-4"><label>City</label></div>
                                    <div class="col-sm-6"><input type="text" placeholder="City" ng-model="vm.formPayment.city" ></div>
                                </div>
                                <div class="row bottom10">
                                    <div class="col-sm-4"><label>Country</label></div>
                                    <div class="col-sm-6"><input type="text" placeholder="Country" ng-model="vm.formPayment.country" ></div>
                                </div>

                                <div class="row bottom10">
                                    <div class="col-sm-4"><label>Billing Address 1</label></div>
                                    <div class="col-sm-6"><input type="text" placeholder="Billing Address 1" ng-model="vm.formPayment.addressLine1"></div>
                                </div>
                                <div class="row bottom10">
                                    <div class="col-sm-4"><label>Billing Address 2</label></div>
                                    <div class="col-sm-6"><input type="text" placeholder="Billing Address" placeholder="Billing Address 2" ng-model="vm.formPayment.addressLine2"></div>
                                </div>
                                
                                <div class="row bottom10">
                                    <div class="col-sm-4"><label>Expiring Month</label></div>
                                    <div class="col-sm-6"><input type="text" placeholder="Expiring Month" ng-model="vm.formPayment.expiringMonth" ></div>
                                </div>


                                <div class="row bottom10">
                                    <div class="col-sm-4"><label>Expiring Year</label></div>
                                    <div class="col-sm-6"><input type="text" placeholder="Expiring Year" ng-model="vm.formPayment.expiringYear" ></div>
                                </div>
                                


                                <div class="row bottom10">
                                    <div class="col-sm-4"><label>Expiration Date </label></div>
                                    <div class="col-sm-6"><input type="text" ng-model="vm.driver.card.expireData" readonly placeholder="Exp Date"></div>
                                </div>
                                <div class="row bottom10">
                                    <div class="col-sm-4"><label>Membership</label></div>
                                    <div class="col-sm-6">
                                        <!-- {{(vm.subPlan.name == 'RaceAgent')? 'selected' : ''}} -->
                                        <select ng-model="vm.subPlan._id">
                                            <option value="0"></option>
                                            <!-- <option value="RaceAgent" selected="">Race Agent ($29.99)</option>
                                            <option value="RaceAgentPro">Race Agent Pro ($49.99)</option> -->
                                            <option ng-repeat="p in vm.plansList" value="{{p._id}}" >{{p.name}} (${{p.price}})</option>
                                           
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right phone-center">
                                <input type="submit" value="Update">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="setLine">
                <div class="row">
                    <div class="col-sm-3">
                        <!-- <p class="setText">name {{vm.seriesTypes}}</p> -->
                        <p class="setText">Card Holder</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="setText reg">{{vm.driver.card.cardName}}</p>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
            <div class="setLine">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="setText">brand</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="setText reg">{{vm.driver.card.brand}}</p>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
            <div class="setLine">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="setText">Billing Address</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="setText reg">{{vm.driver.card.addressLine1}}<br>{{vm.driver.card.addressLine2}}</p>
   
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
            <div class="setLine">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="setText">Payment</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="setText reg">card ending in {{vm.driver.card.cardNumber}}</p>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
            <div class="setLine">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="setText">Membership</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="setText reg">{{vm.subPlan.name}}</p>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>