<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a ui-sref="admin.drivers" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>R</b>A</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>RACE</b>AGENT</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <img src="dist/images/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">Admin</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="dist/images/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  Admin
                  <small> {{admin.user.email}}</small>
                </p>
              </li>
              <li class="user-footer">
                <!--<div class="pull-left">-->
                  <!--<a href="#" class="btn btn-default btn-flat">Profile</a>-->
                <!--</div>-->
                <div class="pull-right">
                  <a ui-sref="admin.login" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="dist/images/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Admin</p>
          <a href=""><i class="fa fa-envelope text-success"></i> {{admin.user.email}}</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview" ui-sref-active="active">
          <a ui-sref="admin.drivers">
            <i class="fa fa-user-o"></i>
            <span>Drivers</span>
          </a>
        </li>
        <li class="treeview" ui-sref-active="active">
          <a ui-sref="admin.companies">
            <i class="fa fa-building-o"></i>
            <span>Companies</span>
          </a>
        </li>
        <li class="treeview" ui-sref-active="active">
          <a  ui-sref="admin.sponsors.add">
            <i class="fa fa-building-o"></i>
            <span>Sponsorships</span>
          </a>
            <ul class="treeview-menu">
            <li class="active">
                <a ui-sref="admin.sponsors.add">
                    Add 
                </a>
            </li>
            <li>
                <a ui-sref="admin.sponsors">
                   List
                </a>
            </li>
          </ul>
        </li>
        

        <li class="treeview" ui-sref-active="active">
          <a ui-sref="admin.mailbox">
            <i class="fa fa-envelope"></i>
            <span>Mailbox</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" ui-view>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2017 RaceAgent <sup>Tm</sup> Site BY SPARK.</strong> All rights
    reserved.
  </footer>

</div>
