<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Add New Sponsor
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin.drivers"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="admin.drivers"><i class="fa fa-dashboard"></i> Sponsors</a></li>
        <li class="active">add</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Main row -->

    <!-- /.row (main row) -->
		<div class="box box-primary">
            <div class="box-header with-border">
              <!-- <h3 class="box-title">Sponsorhip Form</h3> -->
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" pb-autologin="true" autocomplete="off">
              <div class="box-body">
                <div class="form-group">
                  <label for="spons_name">Sponsorship Name</label>
                  <input type="text" class="form-control" ng-model="vm.sponsor.spons_name"  placeholder="Enter sponsor name" >
              	</div>
              	<div class="form-group">
                  <label for="company_name">Company Name</label>
                  <input type="text" class="form-control" ng-model="vm.sponsor.company_name"  placeholder="Enter company name" >
              	</div>

              	<div class="form-group">
                  <label for="spons_count">Sponsors Count</label>
                  <input type="number" class="form-control" ng-model="vm.sponsor.spons_count"   placeholder="Enter sponsor number" >
              	</div>

              	<div class="form-group">
                  <label for="spons_ammount">Sponsors Ammount</label>
                  <div class="input-group">
                  	  <span class="input-group-addon">$</span>
	                  <input type="number" class="form-control" ng-model="vm.sponsor.spons_ammount"  placeholder="Enter amount" >
	                  <span class="input-group-addon">.00</span>
                  </div>
              	</div>
              	<div class="form-group">
                  <label>Partner Company</label>
                  <select class="form-control" ng-model="vm.sponsor.spons_partner">
                    <option></option>
                    <option ng-repeat="company in vm.partnerCompanies" value="{{company._id}}">{{company['COMPANY NAME']}}</option>
                    
                  </select>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button ng-click="vm.creatSponsorship()" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>



</section>