<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Drivers
        <small>{{vm.drivers.length}}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin.drivers"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Drivers</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-12">

            <div class="box box-primary" ng-init="vm.getDrivers()">
                <div class="box-header">
                    <i class="fa fa-user-o"></i>

                    <h3 class="box-title">Drivers</h3>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Birth</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="driver in vm.drivers">
                                <td><a ui-sref="admin.drivers.profile.tabs.general({id: driver._id})">{{driver.firstName}} {{driver.lastName}}</a></td>
                                <td>{{driver.email}}</td>
                                <td>{{driver.birthdate | date}}</td>
                                <td>{{driver.city}}</td>
                                <td>{{driver.state}}</td>
                                <td>{{driver.zip}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-xs" ui-sref="admin.drivers.profile.tabs.general({id: driver._id})">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <button class="btn btn-default btn-xs" ng-click="vm.removeDriver(driver._id)">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.chat -->
                <!--<div class="box-footer">-->
                    <!--<a ui-sref="admin.drivers.add" type="button" class="btn btn-success"><i class="fa fa-plus"></i></a>-->
                <!--</div>-->
            </div>

        </section>

    </div>
    <!-- /.row (main row) -->

</section>