<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Driver
        <small>Add</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin.drivers"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="admin.drivers">Drivers</a></li>
        <li class="active">Add</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <section class="col-lg-12">
            <a ui-sref="admin.drivers.add"
               ng-class="{'disabled': vm.generalForm.$invalid}"
               type="button" class="btn btn-primary pull-right" ng-click="vm.create()">Create</a>
        </section>
    </div>
    <br>

    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-6">

            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-pencil"></i>
                    <h3 class="box-title">General</h3>
                </div>
                <form role="form" name="vm.generalForm">
                    <div class="box-body row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error': vm.generalForm.firstName.$invalid}">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" ng-model="vm.driver.firstName" required>
                            </div>
                            <div class="form-group" ng-class="{'has-error': vm.generalForm.lastName.$invalid}">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name" ng-model="vm.driver.lastName" required>
                            </div>
                            <div class="form-group">
                                <label for="nickName">Nick Name</label>
                                <input type="text" class="form-control" id="nickName" placeholder="Enter Nick Name" ng-model="vm.driver.nickName">
                            </div>
                            <div class="form-group" ng-class="{'has-error': vm.generalForm.email.$invalid}">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" ng-model="vm.driver.email" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birth">Birth</label>
                                <input type="text" uib-datepicker-popup=""
                                       ng-model="vm.driver.birthdate"
                                       is-open="datepickerBirthShow"
                                       class="form-control"
                                       ng-click="datepickerBirthShow = !datepickerBirthShow"
                                       popup-placement="top"
                                       id="birth"
                                       placeholder="Birth">
                            </div>
                            <div class="form-group">
                                <label for="homeTown">Home Town</label>
                                <input type="text" class="form-control" id="homeTown" placeholder="Home Town" ng-model="vm.driver.homeTown">
                            </div>
                            <div class="form-group">
                                <label for="residence">Residence</label>
                                <input type="text" class="form-control" id="residence" placeholder="Residence" ng-model="vm.driver.residence">
                            </div>
                            <div class="form-group">
                                <label for="homeTrack">Home Track</label>
                                <input type="text" class="form-control" id="homeTrack" placeholder="Home Track" ng-model="vm.driver.homeTrack">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error': vm.generalForm.password.$invalid}">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="vm.driver.password" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-pencil"></i>
                    <h3 class="box-title">Links</h3>
                </div>
                <form role="form">
                    <div class="box-body row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="website">Website</label>
                                <input type="text" class="form-control" id="website" placeholder="Website" ng-model="vm.driver.websiteUrl">
                            </div>
                            <div class="form-group">
                                <label for="facebookUrl">Facebook</label>
                                <input type="text" class="form-control" id="facebookUrl" placeholder="Facebook" ng-model="vm.driver.facebookUrl">
                            </div>
                            <div class="form-group">
                                <label for="twitterUrl">Twitter</label>
                                <input type="text" class="form-control" id="twitterUrl" placeholder="Twitter" ng-model="vm.driver.twitterUrl">
                            </div>
                            <div class="form-group">
                                <label for="instagramUrl">Instagram</label>
                                <input type="text" class="form-control" id="instagramUrl" placeholder="Instagram" ng-model="vm.driver.instagramUrl">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </section>
        <section class="col-lg-6">

            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-pencil"></i>
                    <h3 class="box-title">Location</h3>
                </div>
                <form role="form">
                    <div class="box-body row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" placeholder="Enter City" ng-model="vm.driver.city">
                            </div>
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control" id="state" placeholder="State" ng-model="vm.driver.state">
                            </div>
                            <div class="form-group">
                                <label for="zip">Zip</label>
                                <input type="text" class="form-control" id="zip" placeholder="Zip" ng-model="vm.driver.zip">
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea class="form-control" id="address" placeholder="Enter Address" ng-model="vm.driver.address"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-pencil"></i>
                    <h3 class="box-title">About</h3>
                </div>
                <form role="form">
                    <div class="box-body row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="bio">Bio</label>
                                <textarea class="form-control" id="bio" placeholder="Bio" rows="5" ng-model="vm.driver.bio"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="sponsorshipPitch">Sponsorship Pitch</label>
                                <textarea class="form-control" id="sponsorshipPitch" placeholder="Sponsorship Pitch" rows="5" ng-model="vm.driver.sponsorshipPitch"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="experience">Experience</label>
                                <textarea class="form-control" id="experience" placeholder="Experience" rows="5" ng-model="vm.driver.experience"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                </form>
            </div>


        </section>

    </div>
    <!-- /.row (main row) -->

</section>