<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Sponsorhips
        <small>{{vm.totalRecords}}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin.drivers"><i class="fa fa-dashboard"></i> Home</a></li>
        
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Main row -->
    <div class="row" ng-init="vm.getCompanies()">
        <!-- Left col -->
        <section class="col-lg-12"
                 flow-init="vm.flowConfig"
                 flow-file-success="vm.uploadCompleted($message)"
                 flow-error="vm.uploadError($message)"
                 flow-name="vm.flow">

            <div class="box box-primary"> 
                <div class="box-header">
                    <i class="fa fa-building-o"></i>

                    <h3 class="box-title">Sponsorhips</h3>
                </div>
                
                <div class="box-body table-responsive" ng-show="vm.totalRecords">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <!-- <th ng-repeat="column in vm.columns track by $index">{{column}}</th> -->
                                <th>Sponsorship Name</th>
                                <th>Company Name</th>
                                <th>Sponsorship Count</th>
                                <th>Sponsorhsip Ammount</th>
                                <th>Partner Company</th>
                                <th>Created On</th>
                            </tr>

                        </thead>
                        <tbody>
                        <tr ng-repeat="sponsor in vm.sponsors track by $index" ng-init="rowIndex = $index">

                        	<td>{{sponsor.sponsorName}}</td>
                        	<td>{{sponsor.companyName}}</td>
                            <td>{{sponsor.sponsorNumber}}</td>
                        	<td>{{sponsor.sponsorAmmount}}</td>
                        	<td>{{sponsor.partnerCompanyId[0]['COMPANY NAME']}}</td>
                        	<td>{{sponsor.createdOn}}</td>
                            
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="box-footer text-center" ng-show="vm.totalRecords">
                    <ul uib-pagination
                        total-items="vm.totalRecords"
                        ng-model="vm.params.page"
                        max-size="vm.params.limit"
                        class="pagination-sm"
                        ng-change="vm.getSponsors()"
                        boundary-link-numbers="true"
                    ></ul>
                </div>
                <div class="box-footer text-center text-primary fa-2x" ng-show="!vm.totalRecords">
                   <i class="fa fa-frown-o"></i> <span>No Search Results</span>
                </div>
            </div>

        </section>

    </div>
    <!-- /.row (main row) -->

</section>