<div class="login-box">
    <div class="login-logo">
        <a href=""><b>Race</b>Agent</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form name="vm.loginForm" method="post">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email" ng-model="vm.credentials.email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" ng-model="vm.credentials.password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a type="submit" class="btn btn-primary btn-block btn-flat" ng-click="vm.login()">Sign In</a>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>