<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Companies
        <small>{{vm.totalRecords}}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin.drivers"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Companies</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Main row -->
    <div class="row" ng-init="vm.getCompanies()">
        <!-- Left col -->
        <section class="col-lg-12"
                 flow-init="vm.flowConfig"
                 flow-file-success="vm.uploadCompleted($message)"
                 flow-error="vm.uploadError($message)"
                 flow-name="vm.flow">

            <div class="box box-primary"> 
                <div class="box-header">
                    <i class="fa fa-building-o"></i>

                    <h3 class="box-title">Companies</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3" ng-class="{'text-center': vm.flow.files.length}">
                            <div id="uploadCSV" ng-class="{'btn-group': vm.flow.files.length}">
                                <button class="btn btn-default" flow-btn>Browse CSV</button>
                                <button ng-show="vm.flow.files.length" class="btn btn-primary"
                                        ng-class="{'disabled': vm.uploadProgress > 0}"
                                        ng-click="vm.uploadCSV()">Upload</button>
                            </div>
                        </div>
                        <div class="col-md-1 text-center" ng-show="vm.flow.files.length">
                            <div class="fa fa-file-text fa-2x"></div>
                            <div>{{vm.flow.files[0].name}}</div>
                        </div>
                        <div class="col-md-8" ng-show="vm.uploadProgress > 0">
                            <uib-progressbar class="progress-primary active" max="100" value="vm.uploadProgress"></uib-progressbar>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text"
                                       id="city"
                                       class="form-control"
                                       placeholder="City"
                                       ng-model="vm.params.city"
                                       ng-change="vm.getCompanies()">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="zipcode">Zipcode</label>
                                <input type="text"
                                       id="zipcode"
                                       class="form-control"
                                       placeholder="Zipcode"
                                       ng-model="vm.params.zipcode"
                                       ng-change="vm.getCompanies()">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="metroArea">Metro Area</label>
                                <select id="metroArea"
                                        ng-options="item for item in vm.metroAreaList"
                                        ng-model="vm.params.metroArea"
                                        class="form-control"
                                        ng-change="vm.getCompanies()">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="empSizeRange">Emp Size Range</label>
                                <select id="empSizeRange"
                                        ng-options="item for item in vm.employeeSizeList"
                                        ng-model="vm.params.empSizeRange"
                                        class="form-control"
                                        ng-change="vm.getCompanies()">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="salesVolumeRange">Sales Volume Range</label>
                                <select id="salesVolumeRange"
                                        ng-options="item for item in vm.salesVolumeList"
                                        ng-model="vm.params.salseVolumeRange"
                                        class="form-control"
                                        ng-change="vm.getCompanies()">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="state">State</label>
                                <select id="state"
                                        ng-options="item for item in vm.stateList"
                                        ng-model="vm.params.state"
                                        class="form-control"
                                        ng-change="vm.getCompanies()">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="partner">Is Partner</label>
                                <select id="partner"
                                        ng-model="vm.params.isPartner"
                                        class="form-control"
                                        ng-change="vm.getCompanies()">
                                    <option value=""></option>
                                    <option value="1">YES</option>
                                    <option value="0">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive" ng-show="vm.totalRecords">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th ng-repeat="column in vm.columns track by $index">{{column}}</th>
                                <th></th>
                            </tr>

                        </thead>
                        <tbody>
                        <tr ng-repeat="company in vm.companies track by $index" ng-init="rowIndex = $index">
                            <td ng-repeat="(key, value) in company track by $index"
                                ng-if="key !== '_id'" ng-init="colIndex = $index">
                                <span ng-if="key !== 'isPartner'">{{value}}</span>
                                <span uib-tooltip="Switch to {{value? 'No' : 'Yes'}}" ng-if="key === 'isPartner'" role="button" class="badge " ng-click="vm.isPartner(rowIndex,colIndex)">{{value? "YES" : "NO"}}</span>
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="box-footer text-center" ng-show="vm.totalRecords">
                    <ul uib-pagination
                        total-items="vm.totalRecords"
                        ng-model="vm.params.page"
                        max-size="vm.params.limit"
                        class="pagination-sm"
                        ng-change="vm.getCompanies()"
                        boundary-link-numbers="true"
                    ></ul>
                </div>
                <div class="box-footer text-center text-primary fa-2x" ng-show="!vm.totalRecords">
                   <i class="fa fa-frown-o"></i> <span>No Search Results</span>
                </div>
            </div>

        </section>

    </div>
    <!-- /.row (main row) -->

</section>