<section class="content-header">
            <h1>
                User Profile
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a ui-sref="admin.drivers">Drivers</a></li>
                <li class="active">{{vm.driver.firstName}} {{vm.driver.lastName}}</li>
            </ol>
        </section>

<section class="content" ng-init="vm.getProfile()">

            <div class="row"
                 flow-init="vm.flowConfig"
                 flow-file-success="vm.update($message)"
                 flow-name="vm.flow">
                <div class="col-md-3">
                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" ng-if="!vm.flow.files[0] && vm.driver.profilePic" ng-src="uploads/{{vm.driver.profilePic}}">
                            <img class="profile-user-img img-responsive img-circle" ng-if="!vm.flow.files[0] && !vm.driver.profilePic" src="dist/images/upload-pic.png">
                            <img class="profile-user-img img-responsive img-circle" ng-if="vm.flow.files[0]" flow-img="vm.flow.files[0]">
                            <div class="progress-pic-bar" ng-if="vm.flow.files[0]">
                                <br>
                                <uib-progressbar class="progress-primary active" max="100" value="vm.flow.files[0].progress() * 100"></uib-progressbar>
                            </div>

                            <h3 class="profile-username text-center">{{vm.driver.firstName}} {{vm.driver.lastName}}</h3>

                            <p class="text-muted text-center">{{vm.driver.nickName}}</p>

                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item" ng-show="vm.driver.email">
                                    <b>Email</b> <a class="pull-right">{{vm.driver.email}}</a>
                                </li>
                                <li class="list-group-item" ng-show="vm.driver.birthdate">
                                    <b>Birth</b> <a class="pull-right">{{vm.driver.birthdate | date}}</a>
                                </li>
                                <li class="list-group-item" ng-show="vm.driver.homeTown">
                                    <b>Home Town</b> <a class="pull-right">{{vm.driver.homeTown}}</a>
                                </li>
                                <li class="list-group-item" ng-show="vm.driver.homeTrack">
                                    <b>Home Track</b> <a class="pull-right">{{vm.driver.homeTrack}}</a>
                                </li>
                                <li class="list-group-item" ng-show="vm.driver.createdOn">
                                    <b>Create On</b> <a class="pull-right">{{vm.driver.createdOn | date}}</a>
                                </li>
                                <li class="list-group-item" ng-show="vm.driver.residence">
                                    <b>Residence</b> <a class="pull-right">{{vm.driver.residence}}</a>
                                </li>
                            </ul>

                            <button class="btn btn-default btn-block" flow-btn>Change avatar</button>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <!-- About Me Box -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">About Me</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <strong ng-show="vm.driver.bio"><i class="fa fa-pencil margin-r-5"></i> Bio</strong>

                            <p class="text-muted">{{vm.driver.bio}}</p>

                            <hr>

                            <strong ng-show="vm.driver.sponsorshipPitch"><i class="fa fa-pencil margin-r-5"></i> Sponsorship Pitch</strong>

                            <p class="text-muted" ng-show="vm.driver.sponsorshipPitch">
                                {{vm.driver.sponsorshipPitch}}
                            </p>

                            <hr>

                            <strong ng-show="vm.driver.experience"><i class="fa fa-pencil margin-r-5"></i> Experience</strong>

                            <p class="text-muted" ng-show="vm.driver.experience">{{vm.driver.experience}}</p>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li ui-sref-active="active"><a ui-sref="admin.drivers.profile.tabs.general">General</a></li>
                            <li ui-sref-active="active"><a ui-sref="admin.drivers.profile.tabs.about">About</a></li>
                            <li ui-sref-active="active"><a ui-sref="admin.drivers.profile.tabs.location">Location</a></li>
                            <li ui-sref-active="active"><a ui-sref="admin.drivers.profile.tabs.links">Links</a></li>
                        </ul>
                        <form name="vm.formDriver">
                            <div class="tab-content" ui-view="tabs"></div>
                            <div class="box-footer">
                                <button class="btn btn-primary"
                                        ng-if="!vm.flow.files[0]"
                                        ng-class="{'disabled': vm.formDriver.$invalid}"
                                        ng-click="vm.update()">Save</button>
                                <button class="btn btn-primary"
                                        ng-if="vm.flow.files[0]"
                                        ng-class="{'disabled': vm.formDriver.$invalid}"
                                        ng-click="vm.flow.upload()">Save</button>
                            </div>
                        </form>
                        <!-- /.tab-content -->
                    </div>

                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </section>
