<br>
<div class="profile-content" ng-init="vm.getDriver()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-3">
                <div class="prof-uploadSect">
                    <div class="prupPic">
                        <div class="picture">
                            <img ng-if="vm.driver.profilePic" ng-src="uploads/{{vm.driver.profilePic}}" width="100%">
                            <img ng-if="!vm.driver.profilePic" src="dist/images/upload-pic.png" width="100%">
                        </div>
                    </div>
                    <div class="prup-fields" ng-if="">
                        <div class="prupField">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-11 col-xs-offset-1">
                                    <span>{{vm.driver.websiteUrl}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="prupField">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-11 col-xs-offset-1">
                                    <span>{{vm.driver.facebookUrl}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="prupField">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-11 col-xs-offset-1">
                                    <span>{{vm.driver.twitterUrl}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="prupField">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-11 col-xs-offset-1">
                                    <span>{{vm.driver.instagramUrl}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="prupField">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2 col-xs-11 col-xs-offset-1">
                                    <span>{{vm.driver.blogUrl}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="prformSect">
                    <h3>{{vm.driver.firstName}} {{vm.driver.lastName}}</h3>
                    <div class="lineprForm">
                        <div class="row">
                            <div class="col-sm-12" ng-if="vm.driver.email">
                                 <div class="profForm-field">
                                    <label>Email:</label>
                                    <span>{{vm.driver.email}}</span>
                                 </div>
                            </div>
                            <div class="col-sm-12" ng-if="vm.driver.homeTown">
                                <div class="profForm-field">
                                    <label>Hometown:</label>
                                    <span>{{vm.driver.homeTown}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="vm.driver.residence">
                                <div class="profForm-field">
                                    <label>Residence:</label>
                                    <span>{{vm.driver.residence}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="vm.driver.homeTrack">
                                <div class="profForm-field">
                                    <label>Home Track:</label>
                                    <span>{{vm.driver.homeTrack}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="vm.driver.address">
                                <div class="profForm-field">
                                    <label>Address:</label>
                                    <span>{{vm.driver.address}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="vm.driver.city">
                                <div class="profForm-field">
                                    <label>City:</label>
                                    <span>{{vm.driver.city}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="vm.driver.state">
                                <div class="profForm-field">
                                    <label>State:</label>
                                    <span>{{vm.driver.state}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="vm.driver.zip">
                                <div class="profForm-field">
                                    <label>Zip:</label>
                                    <span>{{vm.driver.zip}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="vm.driver.birthdate">
                                <div class="profForm-field">
                                    <label>Birthday:</label>
                                    <span>{{vm.driver.birthdate | date}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="vm.driver.experience">
                                <div class="profForm-field">
                                    <label>Years of Experience:</label>
                                    <span>{{vm.driver.experience}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="vm.driver.bio">
                                <div class="profForm-field">
                                    <label>Bio:</label>
                                    <div>{{vm.driver.bio}}</div>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="vm.driver.sponsorshipPitch">
                                <div class="profForm-field">
                                    <label>Sponsorship Pitch:</label>
                                    <div>{{vm.driver.sponsorshipPitch}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>