<div class="membTop">
    <div class="container-fluid">
        <h1>
            
            <span>Engine</span>
            <span>Membership</span>
        </h1>
    </div>
</div>
<div class="clearfix"></div>
<div class="memb-content">
    <div class="container-fluid">
        <div class="membsect">
            <h2>Please select your membership:</h2>
            <div class="row bottom40">
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <div class="membLeft">
                        <p class="title">{{vm.plans[2].name}}<br>Annual Membership</p>
                        <ul class="membList">
                            <li>Qualifies you for Sponsorships $100 and under ONLY </li>
                            <li>Access to RaceAgent Paint Schemes. </li>
                        </ul>
                        <p class="membPrice">${{vm.plans[2].price}} a month</p>
                        <div class="subscriptionBtn">
                            <button class="profileSave" >Comming Soon</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <div class="membRight">
                        <p class="title">{{vm.plans[3].name}}<br>Annual Membership</p>
                        <ul class="membList">
                            <li>Qualifies you for all Cash Sponsorship Opportunities up to $1,000  </li>
                            <li>Access to RaceAgent Paint Schemes. </li>
                            <li>Access to Setups </li>
                            <li>Special Team Incentives </li>
                            
                        </ul>
                        <p class="membPrice">${{vm.plans[3].price}} a month</p>
                        <div class="subscriptionBtn">
                            <button class="profileSave" >Comming Soon</button>
                        </div>
                    </div>
                </div>    

                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <div class="membLeft">
                        <p class="title">{{vm.plans[0].name}}<br>Annual Membership</p>
                        <ul class="membList">
                            <li>Access to over 50,000 local & national sponsor leads </li>
                            <li>Access to sponsorship giveaways through RaceAgent  </li>
                            <li>Free RaceAgent Decals </li>
                            <li>Free Sponsorship Guidance Services </li>
                            <li>15% off all RaceAgent Marketing Services </li>

                        </ul>
                        <p class="membPrice">${{vm.plans[0].price}} a month</p>
                        <div class="subscriptionBtn">
                            <button class="profileSave" ng-click="vm.subscribePlan(2995, '', vm.plans[0]._id)">Subscribe</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-3">
                    <div class="membRight">
                        <p class="title">{{vm.plans[1].name}}<br>Annual Membership</p>
                        <ul class="membList">
                            <li>Access to over 50,000 local & national sponsor leads </li>
                            <li>Access to corporate sponsor leads through RaceAgent </li>
                            <li>Professionally build driver profile, Contact Us </li>
                            <li>Immediate discounts on partner racing products </li>
                            <li>Exclusive access to RaceAgent sponsorship giveaways </li>
                            <li>Free RaceAgent Decals </li>
                            <li>Free RaceAgent Hat </li>
                            <li>Free Sponsorship Guidance Services </li>
                            <li>25% off all RaceAgent Marketing Services </li>
                        </ul>
                        <p class="membPrice">${{vm.plans[1].price}} a month</p>
                        <div class="subscriptionBtn">
                            <button class="profileSave" ng-click="vm.subscribePlan(4995, 'Pro', vm.plans[1]._id)">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="membForm">
                <form action="#">
                    <div class="membform-sect">
                        <p class="title">ADD Payment</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="profForm-field">
                                    <label>Name on Card:</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6">
                                <div class="profForm-field">
                                    <label>Card Number:</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="profForm-field">
                                    <label>CVV: <span class="helpSpan" uib-tooltip="Tooltip on top"></span></label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="profForm-field">
                                    <label>Expiration Date:</label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <select class="datesel">
                                            <option value="0">MM</option>
                                            <option value="1">01</option>
                                            <option value="2">02</option>
                                            <option value="3">03</option>
                                            <option value="4">04</option>
                                        </select>
                                        </div>
                                        <div class="col-xs-6">
                                            <select class="datesel">
                                            <option value="0">YYYY</option>
                                            <option value="1">2000</option>
                                            <option value="2">2001</option>
                                            <option value="3">2002</option>
                                            <option value="4">2003</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-5">
                                <div class="profForm-field">
                                    <label>Billing Address:</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="profForm-field">
                                    <label>Apt/Suite:</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-4">
                                <div class="profForm-field">
                                    <label>City:</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="profForm-field">
                                    <label>State:</label>
                                    <select name="" id="">
                                    <option value="0"></option>
                                    <option value="1">State</option>
                                    <option value="2">State</option>
                                    <option value="3">State</option>
                                    <option value="4">State</option>
                                    <option value="5">State</option>
                                </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="profForm-field">
                                    <label>Zip Code:</label>
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                        <p class="title">Shipping Address</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="profForm-field">
                                    <label class="labinlblock">Same as Billing Address:</label>
                                    <input type="checkbox">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-5">
                                <div class="profForm-field">
                                    <label>Shipping Address:</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="profForm-field">
                                    <label>Apt/Suite:</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-4">
                                <div class="profForm-field">
                                    <label>City:</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="profForm-field">
                                    <label>State:</label>
                                    <select>
                                    <option value="0"></option>
                                    <option value="1">State</option>
                                    <option value="2">State</option>
                                    <option value="3">State</option>
                                    <option value="4">State</option>
                                </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="profForm-field">
                                    <label>Zip Code:</label>
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Get Started">
                </form>
            </div> -->
        </div>

    </div>
</div>
