<div class="prupPic" ng-init="vm.getDriver()">
        <div class="box-body">
          <p>Your monthly membership of {{vm.plan.cost}} will be debited on the {{vm.plan.billingdate}} of each month.</p> 
          <p>Your annual membership for the upcoming year will automatically renew within 30 days of membership anniversary 
            unless you choose to update or change your membership under “billing settings”. </p>
            <br>
        </div>
    </div>
</div>